Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

Add openFHE handler
  docker/which-files.txt
  third-party/openfhe_plugin/config.toml
  third-party/openfhe_plugin/openFHE_handler.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/recipes/openfhe-hexl.toml
  third-party/openfhe_plugin/recipes/openfhe.toml
Due: black

Ubuntu 22.04 updates
  docker/Dockerfile.base
Due: none

Ubuntu 22.04 updates
  docker/README.md
Due: none

Add feature for accepting list of dockerfiles
  docker/README.md
  docker/dockerfiles.toml
  kit/commands/docker_build.py
  kit/utils/constants.py
Due: black

Fix failing tests
  tests/test_cmd_docker_build.py
  tests/test_integration_docker.py
Due: black

remove for loop and other tweaks
  kit/commands/docker_build.py
Due: black

cond correction
  kit/commands/docker_build.py
Due: black

tweak other cods
  kit/commands/docker_build.py
Due: black

Ubuntu 22.04 updates
  .github/workflows/github-ci.yml
Due: none

Use ArgumentTypeError
  kit/commands/docker_build.py
Due: black

Commented out tests on self-hosted icelake
  .github/workflows/github-ci.yml
Due: none

Update HElib to v2.3.0
  .github/hekit-recipes/helib.toml
Due: none

Update test_integration_wrong_inputs.py
  tests/test_integration_wrong_inputs.py
Due: black

Update tab_completion.py
  kit/utils/tab_completion.py
Due: black

Update runners.sh
  docker/runners.sh
Due: shfmt, shellcheck

Disable build&test on self-hosted server
  .github/workflows/github-ci.yml
Due: none

Deprecate Ubuntu 20.04
  .github/workflows/github-ci.yml
Due: none

Fix for more strict mypy static type checker
  tests/test_integration_wrong_inputs.py
Due: black

Fix for more strict mypy static type checker
  kit/utils/tab_completion.py
Due: black

Create .shellcheckrc
  .shellcheckrc
Due: none

Fix for SC2294 warning message
  docker/runners.sh
Due: shfmt, shellcheck

Update to add .shellcheckrc
  docker/which-files.txt
Due: none

WIP linkage of custom docker builds
  kit/commands/docker_build.py
  kit/utils/docker_tools.py
Due: black

WIP add repr to DockerBuildError and revert raises
  kit/utils/docker_tools.py
Due: black

Update github-ci.yml
  .github/workflows/github-ci.yml
Due: none

Ignore mypy [mysc] erro on line 21
  kit/utils/tab_completion.py
Due: black

Fixed version of pydantic
  .github/workflows/github-ci.yml
Due: none
