Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Typo fixes
  README.md
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
Due: black

README tweaks based on feedback
  README.md
Due: none

Typo fixes (#95)
  README.md
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
Due: black

refactor to remove method
  kit/spec.py
  tests/test_spec.py
Due: black

Deleting default attributes
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: none

Fixingpytest failure
  tests/test_spec.py
Due: black

Restoring export_install_dir in TOML files
  recipes/default.toml
Due: none

Deleting set operation
  kit/spec.py
  tests/test_spec.py
Due: black

Enabling topological sorting for installing dependencies first
  kit/spec.py
  tests/config/test_tsort.toml
  tests/test_spec.py
  tests/test_tsort.py
Due: black

refactor for clearer code
  tests/test_spec.py
Due: black

refactor for clarity
  kit/spec.py
Due: black

refactor for clarity and changed InvalidSpec to InvalidSpecError
  kit/spec.py
  tests/test_spec.py
Due: black

Renaming variables
  tests/test_spec.py
Due: black

Adding test description
  tests/test_spec.py
Due: black

Adding default values for the attributes in the recipe files (#94)
  kit/spec.py
  recipes/default.toml
  recipes/examples.toml
  recipes/sample-kernels.toml
  tests/config/test_two_instances.toml
  tests/test_integration_install.py
  tests/test_spec.py
Due: black

Initial port of he algebra code
  tools/README.md
  tools/gen_primes.sh
  tools/healg.py
  tools/test_healg.py
Due: shfmt, shellcheck, black

Checking if the recipes are unique
  kit/spec.py
  tests/test_spec.py
Due: black

Adding rcommand for removing.hekitt directory in CI
  .github/workflows/github-ci.yml
Due: none

Fixing Pylint Warnings
  pylintrc
  tools/healg.py
Due: black

Moving test_healg.py to tests directory
  tests/context.py
  tests/test_healg.py
Due: black

Update README.md
  tools/README.md
Due: none

Adding integration tests
  tests/test_integration_healg.py
  tools/healg.py
Due: black

Moving integration test
  tests/test_healg.py
Due: black

Precommit fixes
  tools/README.md
Due: none

Fixing integraion tests
  tests/test_integration_healg.py
Due: black

moving things to new homes
  kit/hekit.py
  kit/tools/README.md
  kit/tools/gen_primes.sh
  kit/tools/healg.py
  tests/test_healg.py
Due: shfmt, shellcheck, black

Adding remove components
  kit/command_remove.py
Due: black

rewrite gen_primes as a python func
  kit/tools/__init__.py
  kit/tools/gen_primes.sh
  kit/tools/healg.py
  tests/context.py
Due: shfmt, shellcheck, black

Fixing tests due to new location of tools
  tests/context.py
  tests/test_healg.py
Due: black

Addingg fixes to runpytest from any location
  docker/which-files.txt
  tests/input_files/default.config
  tests/input_files/dependencies.txt
  tests/input_files/test.toml
  tests/input_files/test_two_instances.toml
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Adding --all option for remove
  kit/command_remove.py
Due: black

Adding manasa as a Contributor
  README.md
Due: none

Adding Manasa as a Contributor (#100)
  README.md
Due: none

Adding fixes to run pytest from any location (#99)
  docker/which-files.txt
  tests/input_files/default.config
  tests/input_files/dependencies.txt
  tests/input_files/test.toml
  tests/input_files/test_two_instances.toml
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Adding tests
  tests/test_cmd_remove.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Adding ValueError for wrong usage of --all flag
  kit/command_remove.py
  tests/test_cmd_remove.py
  tests/test_integration_install.py
Due: black

Renaming variable
  kit/command_remove.py
Due: black

Add functionality to remove components (#101)
  kit/command_remove.py
  tests/test_cmd_remove.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Fixing broken tests
  tests/test_spec.py
Due: black
