Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Minor cleanup and typo fixes
  he-samples/examples/secure-query/include/sqclient.h
  he-samples/examples/secure-query/include/sqserver.h
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint

added poly_to_binary
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

Update secure query documentation (#49)
  he-samples/examples/secure-query/README.md
  he-samples/examples/secure-query/images/encoding_diagram.png
  he-samples/examples/secure-query/images/mask_comparison.png
  he-samples/examples/secure-query/images/query_key_comparison.png
  he-samples/examples/secure-query/include/sqclient.h
  he-samples/examples/secure-query/include/sqserver.h
  he-samples/examples/secure-query/src/sqclient.cpp
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint

hashing words
  he-samples/examples/psi/datasets/fruits.set
  he-samples/examples/psi/datasets/us_states.set
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

Update SEAL to v3.7.0
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/seal.cmake
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
Due: shfmt, shellcheck

update datasets
  .pre-commit-config.yaml
  .typos.toml
  he-samples/examples/psi/README.md
  he-samples/examples/psi/datasets/fruits.set
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

ancient gods set
  .typos.toml
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: none

dynamic bitsize tied to ord p
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

fix hash size
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

PSI example now compiles as part of the toolkit build
  he-samples/cmake/helib.cmake
  he-samples/examples/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
Due: none

Removed unnecessary code
  he-samples/cmake/helib.cmake
Due: none

tidy printouts. update gitigore.
  .gitignore
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

Expands description and adds sample kernel description tables
  he-samples/sample-kernels/README.md
Due: none

Update sample-kernels README - Precommit check - Added unit-test description - Minor updates
  he-samples/sample-kernels/README.md
Due: none

init README. minor fix.
  he-samples/examples/psi/README.md
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

docs update. added some const to code.
  he-samples/examples/psi/README.md
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

Update SEAL to v3.7.0 (#51)
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/seal.cmake
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
Due: shfmt, shellcheck

Expand sample kernels description (#52)
  he-samples/sample-kernels/README.md
Due: none

Update Palisade version to 1.11.5
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
Due: shfmt, shellcheck

Update PALISADE version to 1.11.5 (#53)
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
Due: shfmt, shellcheck

Fix typo
  he-samples/examples/psi/README.md
Due: none

Cleaner SEAL dependency
  he-samples/cmake/seal.cmake
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/logistic-regression/kernels/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
Due: none

Cleanup
  he-samples/cmake/seal.cmake
Due: none

Remove CI review
  .github/workflows/github-ci.yml
Due: none

FetchContent for gflags
  he-samples/cmake/gflags.cmake
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

Use FetchContent for HElib
  he-samples/cmake/helib.cmake
Due: none

WIP cleaning up PALISADE dependency
  he-samples/cmake/palisade.cmake
Due: none

WIP
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
Due: none

Revert PALISADE changes
  he-samples/cmake/palisade.cmake
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
Due: none

Cleanup
  he-samples/cmake/gbenchmark.cmake
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
  he-samples/cmake/helib.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/sample-kernels/CMakeLists.txt
Due: none

Fix GLADE-80
  he-samples/cmake/palisade.cmake
Due: none

Some cleanup
  he-samples/cmake/gbenchmark.cmake
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
  he-samples/cmake/seal.cmake
Due: none

improve logistic regression example
  he-samples/examples/logistic-regression/include/lr_helper.hpp
  he-samples/examples/logistic-regression/include/lrhe.hpp
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.cpp
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.hpp
  he-samples/examples/logistic-regression/src/lr_helper.cpp
  he-samples/examples/logistic-regression/src/lrhe.cpp
  he-samples/examples/logistic-regression/src/main.cpp
Due: clang-format-10, cpplint

fix pre-commit errors
  he-samples/examples/logistic-regression/include/lr_helper.hpp
  he-samples/examples/logistic-regression/include/lrhe.hpp
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.cpp
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.hpp
  he-samples/examples/logistic-regression/src/lrhe.cpp
  he-samples/examples/logistic-regression/src/main.cpp
Due: clang-format-10, cpplint

Fixed generate data train error with small sample size
  he-samples/examples/logistic-regression/datasets/generate_data.py
Due: none

fix CI command for LR
  .github/workflows/github-ci.yml
Due: none

Fix build options
  he-samples/cmake/helib.cmake
  he-samples/cmake/seal.cmake
Due: none

Fix CI?
  .github/workflows/github-ci.yml
Due: none

Revert CI changes
  .github/workflows/github-ci.yml
  he-samples/cmake/helib.cmake
Due: none
