Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Replace Manasa contributor and removed intel workflow
  README.md
Due: none

Remove environment protection from CI (#106)
  .github/workflows/github-ci.yml
  README.md
Due: none

Adding --based-onargument
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/src/psi.cpp
  he-samples/examples/secure-query/CMakeLists.txt
  kit/command_new.py
  kit/hekit.py
Due: clang-format-10, cpplint, black

Adding unit tests
  docker/which-files.txt
  tests/context.py
  tests/test_cmd_new.py
Due: black

Fixing test name
  tests/test_cmd_new.py
Due: black

Fixing docker dependency message
  kit/command_docker_build.py
  kit/hekit.py
Due: black

Update README.md
  kit/README.md
Due: none

Update README.md
  kit/tools/README.md
Due: none

Fixing docker dependency message (#108)
  kit/command_docker_build.py
  kit/hekit.py
Due: black

Update README.md
  README.md
Due: none

Fixing docker files issues
  docker/Dockerfile.toolkit
  docker/Dockerfile.vscode
Due: none

Restructure hekit directory
  docker/which-files.txt
  kit/commands/__init__.py
  kit/commands/check_deps.py
  kit/commands/command_init.py
  kit/commands/command_install.py
  kit/commands/command_list.py
  kit/commands/command_remove.py
  kit/commands/docker_build.py
  kit/hekit.py
  kit/utils/__init__.py
  kit/utils/archive.py
  kit/utils/component_builder.py
  kit/utils/config.py
  kit/utils/constants.py
  kit/utils/docker_tools.py
  kit/utils/spec.py
  kit/utils/tab_completion.py
  kit/utils/tsort.py
  tests/context.py
  tests/test_cmd_check_deps.py
  tests/test_cmd_docker_build.py
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
Due: black

Adding options for based-on flag
  kit/command_new.py
  kit/hekit.py
Due: black

Pre-commit fixes
  README.md
  kit/README.md
  kit/tools/README.md
Due: none

Restructure hekit directory2
  docker/which-files.txt
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/tab_completion.py
  tests/context.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_integration_init.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Fixing pre-commit issues
  kit/README.md
Due: none

Adding constants istsead hardcore valuees
  kit/command_new.py
  kit/constants.py
Due: black

fixing pylint issues
  kit/commands/docker_build.py
  kit/hekit.py
Due: black

Fixing typos
  kit/README.md
  kit/constants.py
Due: black

Fixes per code review
  docker/Dockerfile.toolkit
  kit/README.md
Due: none

Command new (#107)
  docker/Dockerfile.vscode
  docker/which-files.txt
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/src/psi.cpp
  he-samples/examples/secure-query/CMakeLists.txt
  kit/README.md
  kit/command_new.py
  kit/constants.py
  kit/hekit.py
  kit/tools/healg.py
  tests/context.py
  tests/test_cmd_new.py
Due: clang-format-10, cpplint, black

Enabling openMP for Clangs
  docker/Dockerfile.base
Due: none

Enabling openMP for Clang (#111)
  docker/Dockerfile.base
Due: none

update which-files.txt
  docker/which-files.txt
Due: none

Always execute upto_stage
  kit/command_install.py
  kit/component_builder.py
  tests/test_cmd_install.py
Due: black

Fixing wrong comment
  kit/command_install.py
Due: black

fixing run pytest parallel
  docker/which-files.txt
  tests/input_files/default_v2.config
  tests/test_integration_docker.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Restructure kit directory (#110)
  docker/which-files.txt
  kit/commands/__init__.py
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/__init__.py
  kit/utils/archive.py
  kit/utils/component_builder.py
  kit/utils/config.py
  kit/utils/constants.py
  kit/utils/docker_tools.py
  kit/utils/spec.py
  kit/utils/tab_completion.py
  kit/utils/tsort.py
  tests/context.py
  tests/test_cmd_check_deps.py
  tests/test_cmd_docker_build.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_new.py
  tests/test_cmd_remove.py
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

first try at subparsers as plugins
  kit/hekit.py
Due: black

tools as plugins
  kit/hekit.py
Due: black

[refactor] simplified for loop
  kit/hekit.py
Due: black

refactor to simplify
  kit/hekit.py
Due: black

better renaming
  kit/hekit.py
Due: black

pylint tidy
  kit/hekit.py
Due: black

move util functions out
  kit/hekit.py
  kit/utils/subparsers.py
Due: black

update which files
  docker/which-files.txt
Due: none

Fixing pylint warnings due to new version
  .pylintrc
  docker/which-files.txt
  kit/commands/list_cmd.py
  kit/hekit.py
  kit/utils/tab_completion.py
  pylintrc
Due: black

Fix per code review
  kit/commands/list_cmd.py
Due: black
