Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

tools dir
  docker/which-files.txt
  tools/README.md
Due: none

Top-level tools directory (#131)
  docker/which-files.txt
  tools/README.md
Due: none

revert slightly data packing
  he-samples/examples/logistic-regression/datasets/generate_data.py
Due: black

refactored python
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black

pylint tidy
  he-samples/examples/logistic-regression/datasets/generate_data.py
Due: black

moved util func to utils
  kit/commands/list_cmd.py
  kit/utils/files.py
  kit/utils/subparsers.py
  kit/utils/tab_completion.py
Due: black

pre-commit issues
  docker/which-files.txt
  kit/utils/files.py
  kit/utils/subparsers.py
Due: black

pylint error
  kit/utils/tab_completion.py
Due: black

mypy issue
  kit/commands/list_cmd.py
  kit/utils/files.py
Due: black

Fix unit tests
  docker/which-files.txt
  tests/test_cmd_list.py
  tests/test_files.py
  tests/test_subparsers.py
Due: black

Refactor utilities (#132)
  docker/which-files.txt
  kit/commands/list_cmd.py
  kit/utils/files.py
  kit/utils/subparsers.py
  kit/utils/tab_completion.py
  tests/test_cmd_list.py
  tests/test_files.py
  tests/test_subparsers.py
Due: black

concat not append
  he-samples/examples/logistic-regression/datasets/generate_data.py
Due: black

removed FIXME in hekit. required loading of config now a simple decorator
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/component_builder.py
  kit/utils/config.py
Due: black

pyling caught issues resolved
  kit/hekit.py
  kit/utils/config.py
Due: black

pre-commit issues
  kit/commands/install.py
  kit/commands/remove.py
  kit/hekit.py
Due: black

Fix unit tests
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_wrong_inputs.py
Due: black

Fix CI failures with tests in paralel
  .github/workflows/github-ci.yml
Due: none

Fix wrong flag usage
  .github/workflows/github-ci.yml
Due: none

Add debug lines
  .github/workflows/github-ci.yml
Due: none

Move HE_WORKSPACE variable to a new stage
  .github/workflows/github-ci.yml
Due: none

Delete no needed code
  .github/workflows/github-ci.yml
Due: none

Add dependencies in Recipes
  kit/utils/spec.py
  recipes/default.toml
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: black

Add missing change in recipe
  recipes/examples.toml
Due: none

LR example minor refactor (#133)
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black

pytest dependency
  docker/which-files.txt
  tests/test_integration_docker.py
  tests/test_integration_install.py
  tests/test_spec.py
  tests/test_tab_comp.py
Due: black

Refactor get_dependencies function
  kit/utils/spec.py
Due: black

Fix CI execution issue
  .github/workflows/github-ci.yml
Due: none

Add submodules true
  .github/workflows/github-ci.yml
Due: none

changes per code review
  kit/utils/spec.py
  tests/test_integration_healg.py
Due: black

Add unit test for config.py
  docker/which-files.txt
  kit/utils/config.py
  tests/input_files/default_wrong.config
  tests/test_integration_wrong_inputs.py
  tests/test_util_config.py
Due: black

Non-integer base encoding files
  tools/encoder/NIBNAF.h
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Fix CI failures with concurrent tests (#135)
  .github/workflows/github-ci.yml
  kit/utils/spec.py
  recipes/default.toml
  recipes/examples.toml
  recipes/sample-kernels.toml
  tests/test_integration_healg.py
Due: black

pre-commit
  docker/which-files.txt
  tools/encoder/NIBNAF.h
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Initial refactoring
  tests/input_files/test.toml
  tests/test_integration_install.py
Due: black

tidy
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Fix CI failure in cleanup step
  .github/workflows/github-ci.yml
Due: none

Minor changes
  tests/test_integration_install.py
Due: black

Update nibnaf.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Update encoder-source.cpp
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
