Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

Took out the sz from gap
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Updating the tests
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

code tidy
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

The header file is changed that now includes the class with methods for printing out results and decoders. The testing file is changed acoordingly.
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

clang-format
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

nibnaf1.h changed to nibnafh
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Added the fractional polynomial representation method to the class.
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

setup cmake and gtest
  docker/which-files.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
  tools/encoder/tests/encoder-source.cpp
Due: clang-format, cpplint

clang-format
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

fixtures
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/encoder-source.cpp
Due: clang-format, cpplint

WIP refactor and applying new abstractions
  docker/which-files.txt
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/encoder-source.cpp
Due: clang-format, cpplint

WIP new API
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

moved print methods
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

poly frac
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

WIP fixes and sort out final transforms
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

fixing last push, compiling again
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

rename degree
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

decoding part fixed. current tests pass
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

init sparse poly tests
  docker/which-files.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_nibnaf.cpp
  tools/encoder/tests/test_sparse_poly.cpp
Due: clang-format, cpplint

Additions to dev_reqs.txt
  dev_reqs.txt
Due: none

compilation fix
  tools/encoder/coder.h
  tools/encoder/tests/test_nibnaf.cpp
Due: clang-format, cpplint

paramerized tests for single num balanced
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_nibnaf.cpp
  tools/encoder/tests/test_sparse_poly.cpp
Due: clang-format, cpplint

Fractional Encoding Test completed
  docker/which-files.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/tests/test_nibnaf_frac.cpp
Due: clang-format, cpplint

New help formmat
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/new.py
  kit/commands/plugin.py
  kit/commands/remove.py
  kit/hekit.py
  kit/tools/healg.py
Due: black

refactor help message for plugins
  kit/commands/new.py
  kit/commands/plugin.py
  kit/hekit.py
  kit/utils/subparsers.py
Due: black

Fix C/I failures
  .github/workflows/github-ci.yml
Due: none

code review fixes
  .github/workflows/github-ci.yml
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/tools/healg.py
  kit/utils/subparsers.py
  tests/test_integration_install.py
  tests/test_integration_wrong_inputs.py
Due: black

Revert no needed changes
  kit/README.md
  kit/commands/check_deps.py
  kit/commands/list_cmd.py
  kit/commands/remove.py
  kit/tools/healg.py
Due: black

adding Ubuntu 22.04
  .github/workflows/github-ci.yml
Due: none

testing helib
  .github/workflows/github-ci.yml
Due: none

Refactor hekit help command (#150)
  kit/README.md
  kit/commands/check_deps.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/plugin.py
  kit/hekit.py
  kit/utils/subparsers.py
Due: black

adding Dcmake to toml
  .github/hekit-recipes/helib.toml
Due: none

testing changes
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

init subtree
  expr/README.md
  expr/scripts/decode.py
  expr/scripts/encode.py
Due: black

some encode helper functions
  docker/which-files.txt
  expr/scripts/util.py
Due: black

ptxt object
  docker/which-files.txt
  expr/scripts/README.md
  expr/scripts/decode.py
  expr/scripts/encode.py
  expr/scripts/ptxt.py
Due: black

small updates
  expr/scripts/README.md
  expr/scripts/decode.py
  expr/scripts/encode.py
Due: black

some more utils functions
  expr/scripts/util.py
Due: black
