Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

Deleted print lines
  tests/test_tab_comp.py
Due: black

WIP preamble, tarfile, copyfiles into stagging
  .gitignore
  kit/command_docker_build.py
  kit/hekit.py
Due: black

import annotations
  kit/command_check_deps.py
  kit/command_docker_build.py
Due: black

New line to be added by init
  kit/command_init.py
Due: black

Deleted no required line
  kit/tab_completion.py
Due: black

VS Code (code-server) via Docker (#73)
  docker/Dockerfile.toolkit
  docker/Dockerfile.vscode
  docker/IDE-Config/settings.json
  docker/setup_and_run_docker.sh
  docker/vscode.sh
Due: shfmt, shellcheck

Create README.md
  kit/README.md
Due: none

Update README.md
  kit/README.md
Due: none

Update README.md
  README.md
Due: none

Updated init command
  docker/Dockerfile.base
  docker/setup_and_run_docker.sh
  kit/command_init.py
Due: shfmt, shellcheck, black

Pre-commit fixes
  README.md
  kit/README.md
Due: none

Initial Toolkit CI
  .github/workflows/github-ci.yml
Due: none

Added comments
  kit/command_init.py
  kit/command_list.py
  kit/tab_completion.py
  tests/test_tab_comp.py
Due: black

Fix CI?
  .github/workflows/github-ci.yml
Due: none

Fixed CI
  .github/workflows/github-ci.yml
Due: none

Add local path for pip modules
  .github/workflows/github-ci.yml
Due: none

Minor fixes to CI
  .github/workflows/github-ci.yml
Due: none

Bug in default recipe
  recipes/default.toml
Due: none

Removed duplicate key
  recipes/default.toml
Due: none

Disable failing jobs for now
  .github/workflows/github-ci.yml
Due: none

Update kit/README.md
  kit/README.md
Due: none

Added missing python dependency
  .github/workflows/github-ci.yml
Due: none

Changed where pytests are run from
  .github/workflows/github-ci.yml
Due: none

Update CI (#76)
  .github/workflows/github-ci.yml
  recipes/default.toml
Due: none

Initial cleanup of CMake
  he-samples/CMakeLists.txt
  he-samples/cmake/helib.cmake
  he-samples/cmake/hexl.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
Due: none

Integration of sample-kernels into hekit
  he-samples/cmake/gbenchmark.cmake
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
  he-samples/cmake/palisade.cmake
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: none

Cleanup of examples CMake and integration into hekit
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/logistic-regression/include/lrhe.hpp
  he-samples/examples/logistic-regression/include/lrhe_kernel.hpp
  he-samples/examples/logistic-regression/include/omp_utils.h
  he-samples/examples/logistic-regression/kernels/CMakeLists.txt
  he-samples/examples/logistic-regression/src/data_loader.cpp
  he-samples/examples/logistic-regression/src/lr_helper.cpp
  he-samples/examples/logistic-regression/src/lr_test.cpp
  he-samples/examples/logistic-regression/src/lrhe.cpp
  he-samples/examples/logistic-regression/src/lrhe_kernel.cpp
  he-samples/examples/logistic-regression/src/omp_utils.cpp
  he-samples/examples/logistic-regression/src/timer.cpp
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  recipes/toolkit.toml
Due: clang-format-10, cpplint

General cleanup of CMake
  he-samples/CMakeLists.txt
  he-samples/cmake/helib.cmake
  he-samples/cmake/hexl.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/examples/CMakeLists.txt
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: none

Extra comments for clarification
  he-samples/cmake/gbenchmark.cmake
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
Due: none

Simplify cmake (#77)
  he-samples/CMakeLists.txt
  he-samples/cmake/gbenchmark.cmake
  he-samples/cmake/gflags.cmake
  he-samples/cmake/gtest.cmake
  he-samples/cmake/helib.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/examples/CMakeLists.txt
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/logistic-regression/include/lrhe.hpp
  he-samples/examples/logistic-regression/include/lrhe_kernel.hpp
  he-samples/examples/logistic-regression/include/omp_utils.h
  he-samples/examples/logistic-regression/kernels/CMakeLists.txt
  he-samples/examples/logistic-regression/src/data_loader.cpp
  he-samples/examples/logistic-regression/src/lr_helper.cpp
  he-samples/examples/logistic-regression/src/lr_test.cpp
  he-samples/examples/logistic-regression/src/lrhe.cpp
  he-samples/examples/logistic-regression/src/lrhe_kernel.cpp
  he-samples/examples/logistic-regression/src/omp_utils.cpp
  he-samples/examples/logistic-regression/src/timer.cpp
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  he-samples/sample-kernels/CMakeLists.txt
  he-samples/sample-kernels/kernels/CMakeLists.txt
  he-samples/sample-kernels/test/CMakeLists.txt
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: clang-format-10, cpplint

Fixes per codeiew
  docker/Dockerfile.base
  kit/command_init.py
Due: black

Tab completion (#74)
  README.md
  docker/Dockerfile.base
  docker/setup_and_run_docker.sh
  kit/README.md
  kit/command_init.py
  kit/command_list.py
  kit/command_remove.py
  kit/hekit.py
  kit/tab_completion.py
  tests/config/test_two_instances.toml
  tests/context.py
  tests/test_cmd_remove.py
  tests/test_main.py
  tests/test_tab_comp.py
Due: shfmt, shellcheck, black

WIP many modular changes
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  kit/command_docker_build.py
  kit/hekit.py
Due: black

runtime fixes after merge
  docker/Dockerfile.toolkit
  kit/command_docker_build.py
  kit/hekit.py
  recipes/default.toml
Due: black

simplified tar packaging
  docker/which_files.txt
  kit/command_docker_build.py
  kit/command_init.py
Due: black

WIP decoupling
  kit/command_docker_build.py
Due: black

added docker build error check
  kit/command_docker_build.py
Due: black

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
