Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

correct pylint suggestion and remove ignore
  kit/commands/check_deps.py
Due: black

remove some old typing types
  .pylintrc
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/tools/algebras.py
  kit/utils/component_builder.py
  kit/utils/typing.py
Due: black

remove some more old types
  kit/utils/files.py
  kit/utils/primes.py
Due: black

maybe final old types
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/plugin.py
  kit/utils/spec.py
  kit/utils/subparsers.py
  kit/utils/tab_completion.py
Due: black

make error wording consistent. remove quotes as affects tests
  kit/utils/files.py
Due: black

remove old types
  third-party/hello_world_plugin/hello.py
Due: black

which-files.txt changed to repo-inventory.txt
  .pre-commit-config.yaml
  docker/README.md
  docker/repo-inventory.txt
  kit/commands/docker_build.py
  tests/test_cmd_docker_build.py
Due: black

refactor add type hints
  kit/utils/spec.py
Due: black

Version numbers and zsh bug fix
  QUICK_START.md
  deployments/config_psi/psi/CMakeLists.txt
  docker/README.md
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  he-samples/sample-kernels/CMakeLists.txt
  tests/test_cmd_docker_build.py
  tests/test_cmd_new.py
Due: black

init prep for release (#185)
  .pre-commit-config.yaml
  .pylintrc
  QUICK_START.md
  deployments/config_psi/psi/CMakeLists.txt
  docker/README.md
  docker/repo-inventory.txt
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
  he-samples/sample-kernels/CMakeLists.txt
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/plugin.py
  kit/hekit.py
  kit/tools/algebras.py
  kit/utils/component_builder.py
  kit/utils/constants.py
  kit/utils/files.py
  kit/utils/primes.py
  kit/utils/spec.py
  kit/utils/subparsers.py
  kit/utils/tab_completion.py
  kit/utils/typing.py
  tests/test_cmd_docker_build.py
  tests/test_cmd_new.py
  tests/test_integration_docker.py
  third-party/hello_world_plugin/hello.py
Due: black

add mult in sparse poly
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_sparse_poly.cpp
Due: clang-format, cpplint

Fix docker-build printout
  kit/commands/docker_build.py
Due: black

WIP simpler API changes. Fractional tests ported.
  docker/repo-inventory.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/balanced.h
  tools/encoder/coder.h
  tools/encoder/fractional.h
  tools/encoder/old/coder.h
  tools/encoder/old/nibnaf.h
  tools/encoder/old/tests/test_nibnaf.cpp
  tools/encoder/old/tests/test_nibnaf_balanced_addition.cpp
  tools/encoder/old/tests/test_nibnaf_frac.cpp
  tools/encoder/old/tests/test_nibnaf_frac_addition.cpp
  tools/encoder/old/tests/test_nibnaf_multi.cpp
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_fractional.cpp
  tools/encoder/tests/test_sparse_poly.cpp
Due: clang-format, cpplint

Fix docker-build printout (#186)
  kit/commands/docker_build.py
Due: black

refactored balanced to new api and ported tests
  CPPLINT.cfg
  docker/repo-inventory.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/balanced.h
  tools/encoder/coder.h
  tools/encoder/fractional.h
  tools/encoder/tests/test_balanced.cpp
  tools/encoder/tests/test_fractional.cpp
Due: clang-format, cpplint

added bits to balanced and updated cmake version
  tools/encoder/CMakeLists.txt
  tools/encoder/balanced.h
Due: clang-format, cpplint

port balanced slots encoding to new api
  .pre-commit-config.yaml
  docker/repo-inventory.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/balanced.h
  tools/encoder/tests/test_balanced_slots.cpp
Due: clang-format, cpplint

remove old code
  docker/repo-inventory.txt
  tools/encoder/old/coder.h
  tools/encoder/old/nibnaf.h
  tools/encoder/old/tests/test_nibnaf.cpp
  tools/encoder/old/tests/test_nibnaf_balanced_addition.cpp
  tools/encoder/old/tests/test_nibnaf_frac.cpp
  tools/encoder/old/tests/test_nibnaf_frac_addition.cpp
  tools/encoder/old/tests/test_nibnaf_multi.cpp
Due: clang-format, cpplint

WIP create multi sparse class
  tools/encoder/balanced.h
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

WIP multi add and mult impl
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

cmake move test build info to test dir
  docker/repo-inventory.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/tests/CMakeLists.txt
Due: none

WIP add balanced mult test. Add slots ops impls.
  tools/encoder/balanced.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_balanced.cpp
Due: clang-format, cpplint

skeleton arith tests for balanced slots. select function defined
  tools/encoder/balanced.h
  tools/encoder/fractional.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_balanced_slots.cpp
Due: clang-format, cpplint

Add installation dirs for CMake
  tools/encoder/CMakeLists.txt
  tools/encoder/tests/CMakeLists.txt
Due: none

arbritary increase on epsil after op. extra info printed out. problem in decode for multi polys
  tools/encoder/balanced.h
  tools/encoder/tests/test_balanced.cpp
  tools/encoder/tests/test_balanced_slots.cpp
Due: clang-format, cpplint

subtle bug
  tools/encoder/balanced.h
Due: clang-format, cpplint

mod test to pack slots
  tools/encoder/tests/test_balanced_slots.cpp
Due: clang-format, cpplint

methods to expand sparse and tests added
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_sparse_poly.cpp
Due: clang-format, cpplint

WIP skeleton for he ops. encoded polys conversion functions.
  docker/repo-inventory.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/encrypt.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/CMakeLists.txt
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

WIP added other conversion funcs
  tools/encoder/encrypt.h
Due: clang-format, cpplint

toml check to ci. added prelim encrypt decrypt encoded poly tests
  .pre-commit-config.yaml
  dev_reqs.txt
  tools/encoder/encrypt.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_balanced.cpp
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

added encrypt balanced test
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

WIP balanced slots encrypt tests
  tools/encoder/encrypt.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

basic slots encryption test passing
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

WIP init select for ctxts
  tools/encoder/encrypt.h
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

add shift func. moved ctxt specific ops to ctxt_ops.h
  docker/repo-inventory.txt
  tools/encoder/balanced.h
  tools/encoder/ctxt_ops.h
  tools/encoder/encrypt.h
Due: clang-format, cpplint

WIP fix bugs test failing but compiling and running
  tools/encoder/ctxt_ops.h
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

fixes to shift and other mistakes. Added core missing tests
  tools/encoder/ctxt_ops.h
  tools/encoder/fractional.h
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

comment and temp swap numbers on test
  tools/encoder/tests/test_encrypt.cpp
Due: clang-format, cpplint

refactor to stop using deprecated API
  tools/encoder/ctxt_ops.h
Due: clang-format, cpplint
