Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

Adding pre-commit which-file
  .pre-commit-config.yaml
  .whichfile-format
  new-which-files.txt
Due: none

pre-commit updated which files
  .github/scripts/check-whichfile.sh
  .pre-commit-config.yaml
  .whichfile-format
  docker/which-files.txt
  new-which-files.txt
Due: shfmt, shellcheck

change language to script
  .pre-commit-config.yaml
Due: none

Deleting pointer types
  he-samples/examples/secure-query/src/sqclient.cpp
Due: clang-format-10, cpplint

only consider the which file
  .github/scripts/check-whichfile.sh
  .pre-commit-config.yaml
Due: shfmt, shellcheck

Adding default values
  he-samples/examples/logistic-regression/include/lrhe.hpp
Due: clang-format-10, cpplint

generalisation of script
  .github/scripts/check-repo-contents-file.sh
  .github/scripts/check-whichfile.sh
  .pre-commit-config.yaml
  docker/which-files.txt
Due: shfmt, shellcheck

tidy code
  he-samples/examples/secure-query/src/sqclient.cpp
Due: clang-format-10, cpplint

pre-commit check for updated which-files.txt (#118)
  .github/scripts/check-repo-contents-file.sh
  .pre-commit-config.yaml
  docker/which-files.txt
Due: shfmt, shellcheck

Fix Klocwork warnings (#119)
  he-samples/examples/secure-query/src/sqclient.cpp
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint

Fixing Merge issues
  .github/scripts/check-repo-contents-file.sh
  .github/scripts/check-whichfile.sh
  .pre-commit-config.yaml
  docker/which-files.txt
Due: shfmt, shellcheck

Fixing warnings reported by klocwork
  he-samples/examples/logistic-regression/include/data_loader.hpp
Due: clang-format-10, cpplint

Updating component versions to fix vulnerabilities
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

Deleting patch number
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

refactor logistic regression example from klocwork suggestions (#120)
  he-samples/examples/logistic-regression/include/data_loader.hpp
  he-samples/examples/logistic-regression/include/lrhe.hpp
Due: clang-format-10, cpplint

Updating scikit-learn version to 1.1
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

remove pylint no module found
  kit/commands/docker_build.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/component_builder.py
  kit/utils/spec.py
  kit/utils/tab_completion.py
Due: black

Update component versions (#121)
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

remove pylint no module found (#123)
  kit/commands/docker_build.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/component_builder.py
  kit/utils/spec.py
  kit/utils/tab_completion.py
Due: black

Updating patch version
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

Update he-samples/examples/logistic-regression/datasets/requirements.txt
  he-samples/examples/logistic-regression/datasets/requirements.txt
Due: none

init tweaking to use mypy
  kit/commands/docker_build.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/component_builder.py
  kit/utils/spec.py
  kit/utils/tab_completion.py
Due: black

abs imports
  kit/hekit.py
  kit/utils/tab_completion.py
Due: black

mypy errors on init cmd
  kit/commands/init.py
Due: black

PathType
  kit/utils/archive.py
Due: black

WIP importing in tests
  docker/which-files.txt
  kit/commands/docker_build.py
  kit/utils/archive.py
  kit/utils/typing.py
  tests/context.py
  tests/test_integration_docker.py
Due: black

WIP load package
  docker/which-files.txt
  tests/context.py
  tests/test_integration_docker.py
Due: black

WIP abs package names
  tests/test_cmd_check_deps.py
  tests/test_cmd_docker_build.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_new.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_docker_tool.py
  tests/test_healg.py
  tests/test_integration_check_deps.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
  tests/test_spec.py
  tests/test_subparsers.py
  tests/test_tab_comp.py
  tests/test_tsort.py
Due: black

WIP all now import abs
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_docker_tool.py
  tests/test_healg.py
  tests/test_integration_check_deps.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
  tests/test_subparsers.py
  tests/test_tab_comp.py
Due: black

fix tab comp
  tests/test_tab_comp.py
Due: black

WIP abs packages in dynamic loads
  tests/test_cmd_check_deps.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_docker_tool.py
  tests/test_integration_check_deps.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
  tests/test_spec.py
  tests/test_subparsers.py
Due: black

WIP more mypy and test fixes
  tests/test_integration_healg.py
Due: black

WIP tests almost passing
  tests/test_integration_check_deps.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_install.py
Due: black

remove symlink. hekit now called as module.
  .github/workflows/github-ci.yml
  hekit
  kit/commands/init.py
  kit/commands/install.py
  kit/hekit.py
  kit/utils/spec.py
Due: black

most mypy errors resolved
  kit/commands/check_deps.py
  kit/commands/init.py
  kit/commands/list_cmd.py
  kit/utils/component_builder.py
  kit/utils/spec.py
  kit/utils/tsort.py
Due: black

all current mypy type issues resolved
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/utils/component_builder.py
Due: black

dataclass default field once type hint added
  kit/utils/component_builder.py
  kit/utils/spec.py
Due: black

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
