Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

Restructure
  deployment/README.md
  deployment/config_psi/README.md
  deployment/config_psi/psi/CMakeLists.txt
  deployment/config_psi/psi/src/configurable_psi.cpp
  deployment/config_psi/psi/tests/CMakeLists.txt
  deployment/config_psi/psi/tests/TestLookup.cpp
  deployment/config_psi/psi/tests/main.cpp
  deployment/config_psi/scripts/README.md
  deployment/config_psi/scripts/config.py
  deployment/config_psi/scripts/config.toml
  deployment/config_psi/scripts/decode.py
  deployment/config_psi/scripts/encode.py
  deployment/config_psi/scripts/example_result.ptxt
  deployment/config_psi/scripts/natural.py
  deployment/config_psi/scripts/ptxt.py
  deployment/config_psi/scripts/tests/test_decode.py
  deployment/config_psi/scripts/tests/test_encode.py
  expr/README.md
Due: clang-format, cpplint, black

Full config-psi recipe
  recipes/config-psi.toml
Due: none

Generic toolkit path
  recipes/config-psi.toml
Due: none

WIP Initial pipeline pytest
  deployments/config_psi/tests/setenv.sh
  deployments/config_psi/tests/test_config_psi.py
Due: shfmt, shellcheck, black

default config file
  .pre-commit-config.yaml
  deployments/README.md
  deployments/config_psi/README.md
  deployments/config_psi/psi/CMakeLists.txt
  deployments/config_psi/psi/src/configurable_psi.cpp
  deployments/config_psi/psi/tests/CMakeLists.txt
  deployments/config_psi/psi/tests/TestLookup.cpp
  deployments/config_psi/psi/tests/main.cpp
  deployments/config_psi/scripts/README.md
  deployments/config_psi/scripts/config.py
  deployments/config_psi/scripts/config.toml
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/encode.py
  deployments/config_psi/scripts/example_result.ptxt
  deployments/config_psi/scripts/natural.py
  deployments/config_psi/scripts/ptxt.py
  deployments/config_psi/scripts/tests/test_decode.py
  deployments/config_psi/scripts/tests/test_encode.py
  docker/which-files.txt
Due: clang-format, cpplint, black

header printout in encode
  deployments/config_psi/scripts/encode.py
  docker/which-files.txt
Due: black

Full pipeline pytests and fixes
  .clang-format
  deployments/config_psi/psi/src/configurable_psi.cpp
  deployments/config_psi/scripts/encode.py
  deployments/config_psi/setenv.sh
  deployments/config_psi/tests/test_config_psi.py
  docker/which-files.txt
  recipes/config-psi.toml
Due: clang-format, shfmt, cpplint, shellcheck, black

clang-format comment
  .clang-format
Due: none

test update
  deployments/config_psi/scripts/tests/test_encode.py
Due: black

Initial config psi documentation
  deployments/config_psi/README.md
Due: none

Format README
  deployments/config_psi/README.md
Due: none

hekit now builds HElib utils
  deployments/config_psi/scripts/decode.py
  recipes/config-psi.toml
Due: black

Update copyright
  deployments/config_psi/psi/tests/main.cpp
Due: clang-format, cpplint

Apply suggestions from code review
  deployments/config_psi/README.md
Due: none

Update deployments/config_psi/README.md
  deployments/config_psi/README.md
Due: none

Formatter
  deployments/config_psi/scripts/README.md
Due: none

Add description of decoder/encoder in scripts README
  deployments/config_psi/README.md
  deployments/config_psi/scripts/README.md
Due: none

testing changes in toml
  .github/hekit-recipes/helib.toml
Due: none

restored the changes in toml
  .github/hekit-recipes/helib.toml
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

testing yaml
  .github/workflows/github-ci.yml
Due: none

Update github-ci.yml
  .github/workflows/github-ci.yml
Due: none

Update helib.toml
  .github/hekit-recipes/helib.toml
Due: none

changes for testing
  .github/hekit-recipes/helib.toml
  .github/workflows/github-ci.yml
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

Adding common issues for docker build and recipes
  README.md
  docker/README.md
Due: none

restoring the changes
  .github/hekit-recipes/helib.toml
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

Extra prompts for how to create new projects and VScode docker
  README.md
Due: none

Additional documentation (#151)
  README.md
  docker/README.md
Due: none

Initial configurable PSI deployment (#149)
  .bandit
  .clang-format
  .github/scripts/run-bandit.sh
  .github/scripts/run-mypy.sh
  .github/scripts/run-pylint.sh
  .pre-commit-config.yaml
  .pylintrc
  deployments/README.md
  deployments/config_psi/README.md
  deployments/config_psi/psi/CMakeLists.txt
  deployments/config_psi/psi/src/configurable_psi.cpp
  deployments/config_psi/psi/tests/CMakeLists.txt
  deployments/config_psi/psi/tests/TestLookup.cpp
  deployments/config_psi/psi/tests/main.cpp
  deployments/config_psi/scripts/README.md
  deployments/config_psi/scripts/config.py
  deployments/config_psi/scripts/config.toml
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/encode.py
  deployments/config_psi/scripts/example_result.ptxt
  deployments/config_psi/scripts/natural.py
  deployments/config_psi/scripts/ptxt.py
  deployments/config_psi/scripts/tests/test_decode.py
  deployments/config_psi/scripts/tests/test_encode.py
  deployments/config_psi/setenv.sh
  deployments/config_psi/tests/test_config_psi.py
  docker/which-files.txt
  mypy.ini
  recipes/config-psi.toml
Due: clang-format, shfmt, cpplint, shellcheck, black

update PYTHONPATH in hekit script
  hekit
Due: none

init
  docker/which-files.txt
  kit/PLUGINS.md
  third-party/README.md
  third-party/hello_world_plugin/__init__.py
  third-party/hello_world_plugin/hello.py
  third-party/hello_world_plugin/plugin.toml
  third-party/hello_world_plugin/start.py
Due: black

path to plugins in hekit script
  hekit
Due: none

reqs abs path
  hekit
Due: none

packages are being picked up
  third-party/hello_world_plugin/plugin.toml
  third-party/hello_world_plugin/start.py
Due: black

plugin names for dirs install changed to underscores: fixes pytohn importing
  kit/commands/plugin.py
  kit/hekit.py
  kit/utils/files.py
  kit/utils/subparsers.py
  third-party/hello_world_plugin/start.py
Due: black

typo
  third-party/README.md
Due: none

debug mode. minor docs add.
  kit/README.md
  kit/hekit.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
