Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

apt black install. format with black 19.3b0
  .github/workflows/github-ci.yml
  tests/test_spec.py
Due: none

Init v2.0 (#59)
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  README.md
  default.config
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
  hekit
  kit/__init__.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  kit/hekit.py
  kit/spec.py
  kit/tsort.py
  recipes/test.toml
  tests/__init__.py
  tests/test_spec.py
  tests/test_tsort.py
Due: none

TEMP: Comment out CI checks to find Palisade bug
  .github/workflows/github-ci.yml
Due: none

TEMP: Comment out format check
  .github/workflows/github-ci.yml
Due: none

Use Palisade default for CKKS Context gen
  he-samples/sample-kernels/kernels/palisade/palisade_util.h
Due: clang-format-10, cpplint

Update Palisade to 1.11.6 and remove patch
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/palisade.cmake
  he-samples/patches/palisade-hexl.patch
Due: shfmt, shellcheck

Update PALISADE to v1.11.6 (#63)
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/palisade.cmake
  he-samples/patches/palisade-hexl.patch
Due: shfmt, shellcheck

Default recipe for building Toolkit base libs
  recipes/default.toml
Due: none

Add v2.0-rc to branches for automatic CI testing
  .github/workflows/github-ci.yml
Due: none

Default recipe for installing HE libraries (#64)
  .github/workflows/github-ci.yml
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  README.md
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/README.md
  docker/runners/run_psi_example.sh
  docker/setup_and_run_docker.sh
  docker/welcome_msg.sh
  he-samples/CMakeLists.txt
  he-samples/cmake/helib.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/examples/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/README.md
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
  he-samples/examples/psi/datasets/fruits.set
  he-samples/examples/psi/datasets/us_states.set
  he-samples/examples/psi/psi.cpp
  recipes/default.toml
Due: clang-format-10, shfmt, cpplint, shellcheck

Update LR example and runners copyright year to 2021
  docker/runners/run_lr_example.sh
  docker/runners/run_psi_example.sh
  docker/runners/run_query_example.sh
  docker/runners/run_sample_kernels_palisade.sh
  docker/runners/run_sample_kernels_seal.sh
  docker/runners/run_tests.sh
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/logistic-regression/datasets/CMakeLists.txt
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
  he-samples/examples/logistic-regression/include/data_loader.hpp
  he-samples/examples/logistic-regression/include/logger.hpp
  he-samples/examples/logistic-regression/include/lr_helper.hpp
  he-samples/examples/logistic-regression/include/lrhe.hpp
  he-samples/examples/logistic-regression/include/timer.hpp
  he-samples/examples/logistic-regression/kernels/CMakeLists.txt
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.cpp
  he-samples/examples/logistic-regression/kernels/lrhe_kernel.hpp
  he-samples/examples/logistic-regression/kernels/omp_utils.cpp
  he-samples/examples/logistic-regression/kernels/omp_utils.h
  he-samples/examples/logistic-regression/src/data_loader.cpp
  he-samples/examples/logistic-regression/src/lr_helper.cpp
  he-samples/examples/logistic-regression/src/lrhe.cpp
  he-samples/examples/logistic-regression/src/main.cpp
  he-samples/examples/logistic-regression/src/timer.cpp
Due: clang-format-10, shfmt, cpplint, shellcheck

Initial v2 workflow
  .github/workflows/github-ci.yml
Due: none

fetch and build commands
  kit/command_install.py
  kit/hekit.py
  recipes/test.toml
Due: none

Added unit testing for kit's source code
  kit/command_list.py
  kit/command_remove.py
  kit/config.py
  kit/hekit.py
  tests/context.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_spec.py
  tests/test_tsort.py
Due: none

refactored install command to remove magic numbers. WIP init command.
  kit/command_init.py
  kit/command_install.py
  kit/hekit.py
Due: none

WIP init cmd
  kit/command_init.py
  kit/command_install.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  tests/test_cmd_init.py
  tests/test_spec.py
Due: none

Extra error handling
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

refactor parts to Path API. update some copyright.
  kit/command_install.py
  kit/command_list.py
  kit/component_builder.py
  kit/spec.py
  kit/tsort.py
  tests/test_tsort.py
Due: none

Refactoring the tests
  tests/context.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
Due: none

refactorings
  .gitignore
  kit/command_list.py
  kit/component_builder.py
Due: none

WIP infofile.py
  infofile.py
Due: none

Additional info for Docker build on MacOS
  docker/README.md
Due: none

main stages all have pre and post now
  kit/component_builder.py
Due: none

WIP init cmd
  kit/command_init.py
  kit/infofile.py
  tests/test_cmd_init.py
Due: none

Simple PSI example bug fix (#66)
  docker/README.md
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

add init cmd test
  kit/command_init.py
  tests/test_cmd_init.py
Due: none

append to file test
  kit/command_init.py
  kit/infofile.py
  tests/test_cmd_init.py
Due: none

init cmd
  kit/command_init.py
  tests/test_cmd_init.py
Due: none

added unit testing
  kit/component_builder.py
  kit/spec.py
  tests/test_cmd_install.py
  tests/test_comp_builder.py
Due: none

Added functional test
  tests/config/default.config
  tests/config/test.toml
  tests/context.py
  tests/test_main.py
Due: none

Updated docker build to new kit
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Pre-commit fixes
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Clean up of copyright years in source
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/runners/run_psi_example.sh
  docker/setup_and_run_docker.sh
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/psi.cpp
  kit/hekit.py
  recipes/default.toml
  recipes/test.toml
Due: clang-format-10, shfmt, cpplint, shellcheck

Fixing wrong changes in the merge
  docker/runners/run_psi_example.sh
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, shfmt, cpplint, shellcheck

Apply suggestions from code review
  kit/command_install.py
Due: none

init, fetch, build (#69)
  .gitignore
  he-samples/examples/psi/psi.cpp
  kit/command_init.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  kit/hekit.py
  kit/spec.py
  kit/tsort.py
  recipes/test.toml
  tests/test_cmd_init.py
  tests/test_spec.py
  tests/test_tsort.py
Due: clang-format-10, cpplint

Fixes per code review
  docker/Dockerfile.base
Due: none

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
