Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

helib cmake cleanup
  he-samples/cmake/helib.cmake
Due: none

Add optional path for NTL and GMP in CMake build
  he-samples/cmake/helib.cmake
Due: none

Add HElib to docker build and removed version number for pre-built HElib
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/helib.cmake
Due: shfmt, shellcheck

Install HElib dependencies on CI runner
  .github/workflows/github-ci.yml
Due: none

Install as sudo
  .github/workflows/github-ci.yml
Due: none

Initial HElib integration (#45)
  .github/workflows/github-ci.yml
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/CMakeLists.txt
  he-samples/cmake/helib.cmake
Due: shfmt, shellcheck

libs deps
  README.md
Due: none

typo
  README.md
Due: none

libs deps (#46)
  README.md
Due: none

Update HElib tag to v2.2.0
  docker/setup_and_run_docker.sh
  he-samples/cmake/helib.cmake
Due: shfmt, shellcheck

Provide HElib with pre-installed HEXL
  .github/workflows/github-ci.yml
Due: none

Moved HEXL params to environment variables
  .github/workflows/github-ci.yml
Due: none

Update SEAL version to v3.6.6
  he-samples/cmake/seal.cmake
Due: none

New branch for doc updates
  he-samples/examples/secure-query/README.md
Due: none

Update HElib tag to v2.2.0 (#47)
  .github/workflows/github-ci.yml
  docker/setup_and_run_docker.sh
  he-samples/cmake/helib.cmake
Due: shfmt, shellcheck

Update SEAL version to v3.6.6 (#48)
  he-samples/cmake/seal.cmake
Due: none

psi example init
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

ptxt ver working
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

ctxt ver working
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

Updated secure query README.md with additional details and information
  he-samples/examples/secure-query/README.md
Due: none

EOF white space fix
  he-samples/examples/secure-query/README.md
Due: none

Made change to avoid any timing in example output
  he-samples/examples/secure-query/README.md
Due: none

added missing seconds
  he-samples/examples/secure-query/README.md
Due: none

Update he-samples/examples/secure-query/README.md
  he-samples/examples/secure-query/README.md
Due: none

Update README.md
  he-samples/examples/secure-query/README.md
Due: none

Pre-commit fixes
  he-samples/examples/secure-query/README.md
Due: none

Minor typos
  he-samples/examples/secure-query/README.md
Due: none

update to the documentation to improve algorithm detail description
  he-samples/examples/secure-query/README.md
  he-samples/examples/secure-query/images/encoding_diagram.png
  he-samples/examples/secure-query/images/mask_comparison.png
  he-samples/examples/secure-query/images/query_key_comparison.png
  he-samples/examples/secure-query/include/sqclient.h
  he-samples/examples/secure-query/include/sqserver.h
  he-samples/examples/secure-query/src/sqclient.cpp
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint

Fixes/cleans up a few typos
  he-samples/examples/secure-query/README.md
Due: none

Range correction on comment
  he-samples/examples/secure-query/include/sqclient.h
Due: clang-format-10, cpplint

pre-commit
  he-samples/examples/secure-query/README.md
  he-samples/examples/secure-query/include/sqclient.h
  he-samples/examples/secure-query/include/sqserver.h
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
