Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

running separate commands
  .github/workflows/github-ci.yml
Due: none

changing to shell
  .github/workflows/github-ci.yml
  kit/commands/init.py
Due: black

adding shell env
  .github/workflows/github-ci.yml
Due: none

WIP fix some tests
  kit/utils/component_builder.py
  tests/test_cmd_install.py
  tests/test_util_comp_builder.py
Due: black

fix unit tests
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
Due: black

type hints, refactor simplify force attrib
  kit/commands/install.py
  kit/utils/component_builder.py
Due: black

generalised hekit_print
  kit/utils/component_builder.py
Due: black

adding bash env
  .github/workflows/github-ci.yml
Due: none

determine the location of bash interpreter
  .github/workflows/github-ci.yml
Due: none

Exporting the path
  .github/workflows/github-ci.yml
Due: none

pylint working with pydantic
  .github/workflows/github-ci.yml
  .pylintrc
  deployments/config_psi/scripts/datagen.py
Due: black

tweak
  .github/workflows/github-ci.yml
Due: none

using which bash
  .github/workflows/github-ci.yml
Due: none

using echo shell
  .github/workflows/github-ci.yml
Due: none

using echo
  .github/workflows/github-ci.yml
Due: none

checking env path
  .github/workflows/github-ci.yml
Due: none

displays information about the shell process
  .github/workflows/github-ci.yml
Due: none

pip pydantic missing
  .github/workflows/github-ci.yml
Due: none

Explicit hekit printouts while building components (#160)
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
  tests/test_util_comp_builder.py
Due: black

print hekit values on shell
  .github/workflows/github-ci.yml
  kit/commands/init.py
Due: black

print readlink command
  .github/workflows/github-ci.yml
Due: none

Fix CI Failure
  .github/workflows/github-ci.yml
Due: none

file name typo
  deployments/config_psi/scripts/tests/test_datagen.py
  docker/which-files.txt
Due: black

refactor get env var
  deployments/config_psi/scripts/tests/test_datagen.py
Due: black

add missing fixture
  deployments/config_psi/scripts/tests/test_datagen.py
Due: black

remove dead code
  deployments/config_psi/scripts/datagen.py
Due: black

Generate data for config PSI (#161)
  .github/workflows/github-ci.yml
  .pylintrc
  deployments/config_psi/scripts/columns.toml
  deployments/config_psi/scripts/datagen.py
  deployments/config_psi/scripts/tests/test_datagen.py
  docker/which-files.txt
Due: black

using export shell
  .github/workflows/github-ci.yml
Due: none

removing hekit print out
  kit/commands/init.py
Due: black

adding pydantic helib
  .github/workflows/github-ci.yml
Due: none

spacing changes
  kit/commands/init.py
Due: black

removing spaces
  .github/workflows/github-ci.yml
Due: none

changing name
  .github/workflows/github-ci.yml
Due: none

(CI) Test hekit can be run from anywhere (#162)
  .github/workflows/github-ci.yml
Due: none

add README to CI
  .github/workflows/README.md
Due: none

Fix bug and tests
  deployments/config_psi/psi/src/configurable_psi.cpp
  deployments/config_psi/tests/test_config_psi.py
Due: clang-format, cpplint, black

Initial repl code
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
