Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Expand hekit README
  kit/README.md
Due: none

Remove colon in titles
  docker/README.md
Due: none

Typo fixes in pytests
  tests/test_cmd_docker_build.py
  tests/test_docker_tool.py
  tests/test_integration_docker.py
Due: black

Typo fix
  he-samples/sample-kernels/README.md
Due: none

Update documentation (#87)
  .github/workflows/github-ci.yml
  README.md
  dev_reqs.txt
  docker/README.md
  docker/runners.sh
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/psi/README.md
  he-samples/examples/secure-query/README.md
  he-samples/sample-kernels/README.md
  he-samples/sample-kernels/test/README.md
  kit/README.md
  kit/command_docker_build.py
  kit/docker_tools.py
  kit/hekit.py
  requirements.txt
  tests/test_cmd_docker_build.py
  tests/test_docker_tool.py
  tests/test_integration_docker.py
Due: shfmt, shellcheck, black

fixed gods file
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: none

Sync main and v2 (#88)
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: none

Enabling Pylint, adding pylintrc and disabling invalid-name Errors
  kit/component_builder.py
  kit/hekit.py
  pylintrc
Due: black

Ignoring: fixme, line-too-long, bad-continuation. Fixing: missing-docstring
  kit/archive.py
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/command_init.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/docker_tools.py
  kit/hekit.py
  kit/tab_completion.py
  pylintrc
Due: black

Fixing: consider-using-sys-exit, empty-docstring
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/docker_tools.py
  kit/hekit.py
Due: black

Fixing: undefined-loop-variable, redefined-builtin, no-name-in-module, unused-import
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/command_init.py
  kit/command_list.py
  kit/component_builder.py
  kit/config.py
  kit/docker_tools.py
  kit/hekit.py
  tests/test_cmd_docker_build.py
  tests/test_docker_tool.py
Due: black

Fixing pylint erros
  kit/command_check_deps.py
  kit/command_init.py
  kit/command_list.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
  kit/tab_completion.py
  pylintrc
Due: black

Pre-commit fixes
  kit/command_check_deps.py
  kit/command_init.py
  kit/component_builder.py
  kit/docker_tools.py
  kit/hekit.py
  kit/spec.py
  kit/tab_completion.py
Due: black

Adding Pylist to CI
  .github/workflows/github-ci.yml
  pylintrc
Due: none

Installing Pylint
  .github/workflows/github-ci.yml
Due: none

Fixing Pylint errors as unspecified-encoding, import-error
  .github/workflows/github-ci.yml
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
  pylintrc
  tests/test_cmd_docker_build.py
Due: black

Precommit fixees
  tests/test_cmd_docker_build.py
Due: black

Adding install docker
  .github/workflows/github-ci.yml
Due: none

refactor dense dynamic code to sensible method
  kit/spec.py
Due: black

hekit init creates default config file
  kit/command_init.py
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

Fixing Pylint error: raise-missing-from
  kit/spec.py
Due: black

Refactoring sub-parsers
  docker/which-files.txt
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/command_init.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/docker_tools.py
  kit/hekit.py
  tests/test_cmd_install.py
  tests/test_main.py
Due: black

Fixing include error
  kit/docker_tools.py
  kit/hekit.py
Due: black

refactor get recipe arg dict function
  kit/command_install.py
Due: black

hekit init creates default config file (#92)
  kit/command_init.py
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

Fxies per code review - Update kit/archive.py
  kit/archive.py
Due: black

Fixes per code review - Update kit/command_check_deps.py
  kit/command_check_deps.py
Due: black

Fixes per code review - Update kit/command_install.py
  kit/command_install.py
Due: black

Deleting wrong return statement
  kit/command_init.py
Due: black

Preo-commit fixes
  kit/command_init.py
Due: black

Enable Pylint (#91)
  .github/workflows/github-ci.yml
  kit/archive.py
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/command_init.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  kit/docker_tools.py
  kit/hekit.py
  kit/spec.py
  kit/tab_completion.py
  pylintrc
  tests/test_cmd_docker_build.py
  tests/test_docker_tool.py
Due: black

Fix pylint error
  kit/command_install.py
Due: black

Refactoring sub-parsers (#93)
  docker/which-files.txt
  kit/command_check_deps.py
  kit/command_docker_build.py
  kit/command_init.py
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/docker_tools.py
  kit/hekit.py
  tests/test_cmd_install.py
  tests/test_main.py
Due: black

Adding default values for the attributes in the recipe files
  kit/spec.py
  tests/config/test_two_instances.toml
Due: black

Fixing Typo
  kit/spec.py
Due: black

Using keys() method to check dict keys
  kit/spec.py
Due: black

Adding default values
  kit/spec.py
  recipes/default.toml
  tests/test_integration_install.py
  tests/test_spec.py
Due: black
