Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091

Recommended documentation changes
  docker/Dockerfile.toolkit
  docker/README.md
Due: none

deprecate install_docker.sh. refactor docker test.
  docker/install_docker.sh
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

refactor dep script for readability
  docker/utils/dependency_checks.sh
Due: shfmt, shellcheck

New Docker installation (#39)
  .github/workflows/github-ci.yml
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  README.md
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/README.md
  docker/basic-docker-test.sh
  docker/check_dependencies.sh
  docker/env.list
  docker/runners/run_example.sh
  docker/runners/run_lr_example.sh
  docker/runners/run_micro_kernels_palisade.sh
  docker/runners/run_micro_kernels_seal.sh
  docker/runners/run_query_example.sh
  docker/runners/run_sample_kernels_palisade.sh
  docker/runners/run_sample_kernels_seal.sh
  docker/runners/run_tests.sh
  docker/setup_and_run_docker.sh
  docker/utils/dependency_checks.sh
  docker/utils/gitops.sh
  docker/welcome_msg.sh
  he-samples/cmake/seal.cmake
  he-samples/examples/secure-query/include/timer.h
  he-samples/sample-kernels/CMakeLists.txt
  scripts/docker-quick-install/Dockerfile
  scripts/docker-quick-install/basic-docker-test.sh
  scripts/docker-quick-install/helpers/background/setup.sh
  scripts/docker-quick-install/helpers/background/welcome_msg.sh
  scripts/docker-quick-install/helpers/runner/run_lr_example.sh
  scripts/docker-quick-install/install_docker.sh
  scripts/docker-quick-install/setup_and_run_docker.sh
Due: clang-format-10, shfmt, cpplint, shellcheck

Removed micro-kernels from he-samples
  he-samples/CMakeLists.txt
  he-samples/micro-kernels/CMakeLists.txt
  he-samples/micro-kernels/main.cpp
  he-samples/micro-kernels/micro_util.h
  he-samples/micro-kernels/palisade/palisade_bfvB_micro.cpp
  he-samples/micro-kernels/palisade/palisade_bfv_micro.cpp
  he-samples/micro-kernels/palisade/palisade_ckks_micro.cpp
  he-samples/micro-kernels/palisade/palisade_micro.cpp
  he-samples/micro-kernels/palisade/palisade_util.h
  he-samples/micro-kernels/seal/seal_bfv_context.cpp
  he-samples/micro-kernels/seal/seal_bfv_context.h
  he-samples/micro-kernels/seal/seal_bfv_micro.cpp
  he-samples/micro-kernels/seal/seal_ckks_context.cpp
  he-samples/micro-kernels/seal/seal_ckks_context.h
  he-samples/micro-kernels/seal/seal_ckks_micro.cpp
  he-samples/micro-kernels/seal/seal_micro.cpp
Due: clang-format-10, cpplint

Removed micro kernels from CI
  .github/workflows/github-ci.yml
Due: none

Removed micro-kernels runners
  docker/runners/run_micro_kernels_palisade.sh
  docker/runners/run_micro_kernels_seal.sh
Due: shfmt, shellcheck

Remove micro kernels (#40)
  .github/workflows/github-ci.yml
  docker/runners/run_micro_kernels_palisade.sh
  docker/runners/run_micro_kernels_seal.sh
  he-samples/CMakeLists.txt
  he-samples/micro-kernels/CMakeLists.txt
  he-samples/micro-kernels/main.cpp
  he-samples/micro-kernels/micro_util.h
  he-samples/micro-kernels/palisade/palisade_bfvB_micro.cpp
  he-samples/micro-kernels/palisade/palisade_bfv_micro.cpp
  he-samples/micro-kernels/palisade/palisade_ckks_micro.cpp
  he-samples/micro-kernels/palisade/palisade_micro.cpp
  he-samples/micro-kernels/palisade/palisade_util.h
  he-samples/micro-kernels/seal/seal_bfv_context.cpp
  he-samples/micro-kernels/seal/seal_bfv_context.h
  he-samples/micro-kernels/seal/seal_bfv_micro.cpp
  he-samples/micro-kernels/seal/seal_ckks_context.cpp
  he-samples/micro-kernels/seal/seal_ckks_context.h
  he-samples/micro-kernels/seal/seal_ckks_micro.cpp
  he-samples/micro-kernels/seal/seal_micro.cpp
Due: clang-format-10, shfmt, cpplint, shellcheck

New docker README and removed duplicate query example runner
  docker/README-OLD.md
  docker/README.md
  docker/runners/run_example.sh
Due: shfmt, shellcheck

Small updates and TODOS to docs
  README.md
  docker/README.md
Due: none

Fix README header
  he-samples/examples/logistic-regression/README.md
Due: none

Updated main README
  README.md
Due: none

Removed micro kernels and docker install script from README
  docker/README.md
Due: none

Move specific information of subprojects to respective READMEs
  README.md
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/secure-query/README.md
  he-samples/sample-kernels/README.md
  he-samples/sample-kernels/test/README.md
Due: none

Formatter and fixed link
  README.md
  docker/README.md
Due: none

Removed redundant row in Issues table
  docker/README.md
Due: none

Update docker link
  docker/README.md
Due: none

update Contents
  README.md
Due: none

add a space
  README.md
Due: none

docker README tweaks
  docker/README.md
Due: none

remove some old text
  he-samples/examples/logistic-regression/README.md
Due: none

Tweaks to README
  README.md
Due: none

Fixed broken link
  README.md
Due: none

Added in missing option to table
  README.md
Due: none

Fixed contents
  docker/README.md
Due: none

Added missing option
  README.md
Due: none

Fixed typo in heading
  docker/README.md
Due: none

Tweak in docs and remove old README
  docker/README-OLD.md
  docker/README.md
Due: none

optional or in check_dependecies
  docker/check_dependencies.sh
  docker/utils/dependency_checks.sh
Due: shfmt, shellcheck

Recommended changes from review
  README.md
  docker/README.md
Due: none

Updated documentation (#41)
  README.md
  docker/README.md
  docker/runners/run_example.sh
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/secure-query/README.md
  he-samples/sample-kernels/README.md
  he-samples/sample-kernels/test/README.md
Due: shfmt, shellcheck

or to check versions
  docker/check_dependencies.sh
Due: shfmt, shellcheck

minor bug fix. change printout msg when both compilers available
  docker/check_dependencies.sh
  docker/utils/dependency_checks.sh
Due: shfmt, shellcheck

Update docker/check_dependencies.sh
  docker/check_dependencies.sh
Due: shfmt, shellcheck

Check alternative dependencies (#42)
  docker/check_dependencies.sh
  docker/utils/dependency_checks.sh
Due: shfmt, shellcheck

Revert Palisade to last stable release (1.11.3) with HEXL
  docker/setup_and_run_docker.sh
  docker/utils/gitops.sh
Due: shfmt, shellcheck

Update CODEOWNERS
  CODEOWNERS
Due: none

Update CODEOWNERS (#44)
  CODEOWNERS
Due: none

Revert Palisade to last stable release (1.11.3) with HEXL (#43)
  docker/setup_and_run_docker.sh
  docker/utils/gitops.sh
Due: shfmt, shellcheck

Initial HElib cmake integration
  he-samples/CMakeLists.txt
  he-samples/cmake/helib.cmake
Due: none
