Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

Add option of editing the .bashrc (#157)
  kit/commands/init.py
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

changing clang-14 on seal
  .github/workflows/github-ci.yml
Due: none

Update main.cpp
  he-samples/examples/secure-query/src/main.cpp
Due: clang-format, cpplint

Fix in secure query example (#159)
  he-samples/examples/secure-query/src/main.cpp
Due: clang-format, cpplint

Multi value tests up and running now
  docker/which-files.txt
  tools/encoder/CMakeLists.txt
  tools/encoder/nibnaf.h
  tools/encoder/tests/test_nibnaf_multi.cpp
Due: clang-format, cpplint

testing hekit command
  .github/workflows/github-ci.yml
Due: none

changing to cd
  .github/workflows/github-ci.yml
Due: none

changing to pwd
  .github/workflows/github-ci.yml
Due: none

create basic structure for plugin w placeholder fizzbuzz functionality
  third-party/openfhe_plugin/__init__.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

changing to ./hekit
  .github/workflows/github-ci.yml
Due: none

adding hekit init
  .github/workflows/github-ci.yml
Due: none

adding init
  .github/workflows/github-ci.yml
Due: none

Testing
  .github/workflows/github-ci.yml
  kit/commands/init.py
Due: black

WIP init
  deployments/config_psi/scripts/columns.toml
  deployments/config_psi/scripts/datagen.py
  docker/which-files.txt
Due: black

source bashrc
  .github/workflows/github-ci.yml
Due: none

fake rows function
  deployments/config_psi/scripts/columns.toml
  deployments/config_psi/scripts/datagen.py
Due: black

mix in real queries
  deployments/config_psi/scripts/datagen.py
Due: black

change printouts
  kit/commands/install.py
  kit/utils/component_builder.py
Due: black

Add pytest for datagen
  deployments/config_psi/scripts/tests/test_datgen.py
  docker/which-files.txt
Due: black

validators
  deployments/config_psi/scripts/datagen.py
Due: black

source bashrc file
  .github/workflows/github-ci.yml
  kit/commands/init.py
Due: black

adding print y
  .github/workflows/github-ci.yml
Due: none

adding hekit
  .github/workflows/github-ci.yml
Due: none

Added missing docstring
  deployments/config_psi/scripts/tests/test_datgen.py
Due: black

WIP move printouts to component builder
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
  tests/test_util_comp_builder.py
Due: black

adding hekit bash -c
  .github/workflows/github-ci.yml
Due: none

removing hekit bash -c
  .github/workflows/github-ci.yml
Due: none

removing .
  .github/workflows/github-ci.yml
Due: none

running separate commands
  .github/workflows/github-ci.yml
Due: none

running env PATH
  .github/workflows/github-ci.yml
Due: none

source bash profile
  .github/workflows/github-ci.yml
Due: none
