Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

Minor refactoring
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Add signal handler
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

const everything
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Initial concrete filesys
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/readConfig.h
  deployments/config_psi/psi/src/configurable_psi.cpp
  docker/which-files.txt
Due: clang-format, cpplint

PSI reads json config file
  deployments/config_psi/psi/include/readConfig.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Initial move to config file
  deployments/config_psi/psi/CMakeLists.txt
  deployments/config_psi/psi/include/readConfig.h
  deployments/config_psi/psi/src/configurable_psi.cpp
  docker/which-files.txt
  recipes/config-psi.toml
Due: clang-format, cpplint

Initial data consumer
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_consumer.h
  docker/which-files.txt
Due: clang-format, cpplint

separation of concerns
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_consumer.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
  docker/which-files.txt
Due: clang-format, cpplint

refactor tweaks
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

flow
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

File sys
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Compiles
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Fixes
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Bug fixes and cleanup
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Code runs
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Remove duplex mode
  deployments/config_psi/psi/include/data_record.h
Due: clang-format, cpplint

Logic for outfile
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Read in kafka data
  deployments/config_psi/psi/CMakeLists.txt
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
  docker/which-files.txt
  recipes/kafka-config-psi.toml
Due: clang-format, cpplint

Kafka output now works
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

outfile now works
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Connection type is now dynamic
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Fixed filesys outfile path
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

adding readme
  .github/workflows/README.md
Due: none

adding gcc-11
  .github/workflows/github-ci.yml
Due: none

adding gcc-11 and Readme
  README.md
Due: none

adding Readme.md to whichfiles
  .github/workflows/README.md
  docker/which-files.txt
Due: none

suggested changes
  .github/workflows/github-ci.yml
Due: none

uppercases and spaces
  .github/workflows/github-ci.yml
Due: none

adding he-toolkit test
  .github/workflows/README.md
Due: none

adding gcc and python
  .github/workflows/README.md
Due: none

adding gcc and python and suggested changes
  .github/workflows/README.md
  README.md
Due: none

Refactor unit (WIP)
  deployments/config_psi/tests/test_config_psi.py
Due: black

adding c-compiler
  .github/workflows/github-ci.yml
Due: none

Refactoring unit test (WIP)
  deployments/config_psi/psi/src/configurable_psi.cpp
  deployments/config_psi/tests/test_config_psi.py
Due: clang-format, cpplint, black

Refactoring of ctxts for Kafka
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

init
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Fixed writing ctxt to kafka
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

cleanup
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

tidy and correct excludes
  .github/workflows/github-ci.yml
Due: none

update action
  .github/workflows/github-ci.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
