Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

Comment out cerr messages
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Enable zshell
  kit/commands/init.py
  tests/test_integration_init.py
Due: black

Initial kafka streamio refactor
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/src/configurable_psi.cpp
  recipes/kafka-config-psi.toml
Due: clang-format, cpplint

Make dynamic again for filesys/kafka
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Check for unknown data connection type
  deployments/config_psi/psi/include/read_config.h
Due: clang-format, cpplint

cleanup
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Revert "change arg type to boolean, test signing"
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

generalise helper
  kit/commands/init.py
Due: black

removed obsolete func
  kit/commands/init.py
Due: black

remove unnecessary print
  kit/commands/init.py
Due: black

test file rename. tests fixed.
  docker/which-files.txt
  tests/test_tool_algebras.py
  tests/test_util_subparsers.py
Due: black

separated utils primes test from algebras
  docker/which-files.txt
  tests/test_tool_algebras.py
  tests/test_util_primes.py
Due: black

remove unused import
  tests/test_tool_algebras.py
Due: black

minor tweak
  kit/utils/primes.py
Due: black

integration test fiel rename. revert minor tweak
  docker/which-files.txt
  kit/utils/primes.py
  tests/test_integration_algebras.py
Due: black

Fix failures in unit tests
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

boolean handling + git clone WIP
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

separated out integration tests
  docker/which-files.txt
  tests/test_integration_algebras.py
  tests/test_integration_gen_primes.py
Due: black

WIP init
  docker/which-files.txt
  third-party/lattice_estimator_plugin/__init__.py
  third-party/lattice_estimator_plugin/docker/.env
  third-party/lattice_estimator_plugin/docker/Dockerfile
  third-party/lattice_estimator_plugin/docker/docker-compose.yaml
  third-party/lattice_estimator_plugin/plugin.toml
  third-party/lattice_estimator_plugin/start.py
Due: black

tweaks
  third-party/lattice_estimator_plugin/docker/docker-compose.yaml
  third-party/lattice_estimator_plugin/start.py
Due: black

WIP recipe file
  third-party/lattice_estimator_plugin/install.toml
Due: none

mod which-files
  docker/which-files.txt
Due: none

pytests passing again
  docker/which-files.txt
  kit/commands/init.py
  kit/commands/plugin.py
  kit/commands/remove.py
  kit/utils/yes.py
Due: black

Apply suggestions from code review
  kit/tools/README.md
Due: none

change behaviour so empty input raises error
  kit/utils/primes.py
  tests/test_integration_algebras.py
  tests/test_tool_algebras.py
Due: black

Add new unit tests
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

Adding zsh
  .github/workflows/github-ci.yml
Due: none

installing zsh
  .github/workflows/github-ci.yml
Due: none

adding path
  .github/workflows/github-ci.yml
Due: none

Add timming in kafka header
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

separting installtion and check
  .github/workflows/github-ci.yml
Due: none

sepacing
  .github/workflows/github-ci.yml
Due: none

commening install
  .github/workflows/github-ci.yml
Due: none

uncommented changes
  .github/workflows/github-ci.yml
Due: none

Set seconds as unit for kafka timing
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Adding zshell test for CI
  .github/workflows/github-ci.yml
Due: none

Add missing line
  .github/workflows/github-ci.yml
Due: none

pytests pass
  docker/which-files.txt
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
  third-party/lattice_estimator_plugin/recipes/install.toml
  third-party/lattice_estimator_plugin/start.py
Due: black

rm WIP plugin
  docker/which-files.txt
  third-party/lattice_estimator_plugin/__init__.py
  third-party/lattice_estimator_plugin/docker/.env
  third-party/lattice_estimator_plugin/docker/Dockerfile
  third-party/lattice_estimator_plugin/docker/docker-compose.yaml
  third-party/lattice_estimator_plugin/plugin.toml
  third-party/lattice_estimator_plugin/recipes/install.toml
  third-party/lattice_estimator_plugin/start.py
Due: black
