Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

typos and some rewording
  kit/PLUGINS.md
Due: none

added paragraph. a few tweaks
  kit/PLUGINS.md
Due: none

Add docs
  kit/PLUGINS.md
Due: none

Add link to PLUGINS.md
  kit/README.md
Due: none

Add Contents section
  kit/PLUGINS.md
Due: none

minor change
  kit/README.md
Due: none

Pre-commint fixes
  README.md
Due: none

Add link to PLUGINS
  README.md
Due: none

changes per review
  README.md
Due: none

Add refresh cmd
  kit/commands/plugin.py
  kit/utils/subparsers.py
Due: black

Typos and minor rewording of docs
  kit/PLUGINS.md
  kit/README.md
Due: none

changes per document review
  kit/PLUGINS.md
Due: none

Plugins docs (#146)
  README.md
  docker/which-files.txt
  kit/PLUGINS.md
  kit/README.md
Due: none

refactor
  kit/commands/plugin.py
Due: black

WIP refactoring
  kit/commands/plugin.py
  kit/utils/subparsers.py
  tests/test_cmd_plugins.py
  tests/test_util_subparsers.py
Due: black

refactoring hekit help(f)
  kit/commands/check_deps.py
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/tools/healg.py
Due: black

refactoring changes in healg help(f)
  kit/tools/healg.py
Due: black

Refactor subparsers.py
  kit/commands/plugin.py
  kit/utils/constants.py
  kit/utils/subparsers.py
  tests/test_cmd_plugins.py
  tests/test_util_subparsers.py
Due: black

AFix unit test
  kit/commands/plugin.py
  tests/test_cmd_plugins.py
Due: black

update docs
  kit/PLUGINS.md
Due: none

changes per code review
  kit/PLUGINS.md
  kit/commands/plugin.py
  kit/utils/constants.py
  kit/utils/subparsers.py
  tests/test_cmd_plugins.py
Due: black

fix typo
  kit/commands/plugin.py
Due: black

Fix per code review
  kit/utils/constants.py
  tests/test_cmd_plugins.py
Due: black

fix minor typo
  kit/utils/constants.py
Due: black

Fix wrongg description
  kit/PLUGINS.md
Due: none

init files copied from hebench
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  docker/which-files.txt
Due: none

Add new command: plugins refresh (#147)
  kit/PLUGINS.md
  kit/commands/plugin.py
  kit/utils/constants.py
  kit/utils/subparsers.py
  tests/test_cmd_plugins.py
  tests/test_util_subparsers.py
Due: black

Movie --config option to list, install and remove cmds
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/plugin.py
  kit/commands/remove.py
  kit/hekit.py
  tests/test_integration_install.py
  tests/test_integration_wrong_inputs.py
Due: black

Non-integer base encoding files
  tools/encoder/NIBNAF.h
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

pre-commit
  docker/which-files.txt
  tools/encoder/NIBNAF.h
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

tidy
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Update nibnaf.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Update encoder-source.cpp
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

tidy for loop
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

more declarative
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

remove wrong const
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

prelim tests
  docker/which-files.txt
  tools/encoder/coder.h
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
