Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

seperate out to utils and class to manage docker connection
  kit/archive.py
  kit/command_docker_build.py
  kit/docker_tools.py
  kit/hekit.py
Due: black

which_files.txt updated. code simplifications.
  docker/which_files.txt
  kit/command_docker_build.py
  kit/docker_tools.py
  kit/spec.py
Due: black

Refactor disabled tests
  .github/workflows/github-ci.yml
Due: none

Removed duplicate line
  recipes/default.toml
Due: none

Fix sed error
  .github/workflows/github-ci.yml
Due: none

Simplify sed command
  .github/workflows/github-ci.yml
Due: none

Disable public ci job
  .github/workflows/github-ci.yml
Due: none

Disable PSI
  .github/workflows/github-ci.yml
Due: none

Use different path
  .github/workflows/github-ci.yml
Due: none

Replace ~ with /home/jcrawford
  .github/workflows/github-ci.yml
Due: none

Replace paths and write them to GITHUB_ENV
  .github/workflows/github-ci.yml
Due: none

Fixed echo
  .github/workflows/github-ci.yml
Due: none

WIP integrate vscode dockerfile
  docker/vscode.sh
  kit/archive.py
  kit/command_docker_build.py
  kit/hekit.py
Due: shfmt, shellcheck, black

added back substitution with git status
  kit/spec.py
  recipes/default.toml
Due: black

Added testing
  kit/spec.py
  tests/config/test.toml
  tests/test_main.py
  tests/test_spec.py
Due: black

Bug fixxing
  kit/spec.py
  tests/test_spec.py
Due: black

Fix paths to examples
  .github/workflows/github-ci.yml
Due: none

Add missing flag to echo
  .github/workflows/github-ci.yml
Due: none

Path fix and extra psi test cases
  .github/workflows/github-ci.yml
Due: none

Avoid bug in psi set
  .github/workflows/github-ci.yml
Due: none

Typo fix
  .github/workflows/github-ci.yml
Due: none

Fix LR test run
  .github/workflows/github-ci.yml
Due: none

Make same changes to public CI job
  .github/workflows/github-ci.yml
Due: none

Added recipe_arg
  kit/command_install.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
  tests/config/test.toml
  tests/test_cmd_install.py
  tests/test_comp_builder.py
  tests/test_main.py
  tests/test_spec.py
  tests/test_tab_comp.py
Due: black

update dockerfiles. move user creaation to later dockerfile.
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/which_files.txt
Due: none

Remove duplicate entries in server set
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: none

minor changes
  kit/spec.py
  tests/test_spec.py
Due: black

Extend Toolkit CI (#79)
  .github/workflows/github-ci.yml
  recipes/default.toml
Due: none

Fixes per code reivew
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
  tests/test_cmd_install.py
  tests/test_comp_builder.py
  tests/test_main.py
  tests/test_spec.py
Due: black

CI fixes
  .github/workflows/github-ci.yml
  recipes/examples.toml
  recipes/sample-kernels.toml
Due: none

minor changes
  kit/hekit.py
  kit/spec.py
  tests/test_tab_comp.py
Due: black

Addinfg default value for recipe_arg
  kit/hekit.py
Due: black

Update README.md
  kit/README.md
Due: none

Fixes per code review
  kit/README.md
  kit/hekit.py
Due: black

Update kit/README.md
  kit/README.md
Due: none

Fixes per code review
  kit/README.md
Due: none

Fixes per code review
  kit/README.md
  tests/test_main.py
Due: black

Back substitution with !! (#78)
  .github/workflows/github-ci.yml
  kit/README.md
  kit/command_install.py
  kit/component_builder.py
  kit/hekit.py
  kit/spec.py
  recipes/examples.toml
  recipes/sample-kernels.toml
  tests/config/test.toml
  tests/test_cmd_install.py
  tests/test_comp_builder.py
  tests/test_main.py
  tests/test_spec.py
  tests/test_tab_comp.py
Due: black

variable width columns
  kit/command_list.py
  tests/test_cmd_list.py
  tests/test_main.py
Due: black

refactor to 3.8 lr py code
  he-samples/examples/logistic-regression/datasets/CMakeLists.txt
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black
