Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Testing for subparsers.py
  tests/context.py
  tests/test_healg.py
  tests/test_subparsers.py
Due: black

Fix pylint warnings due to new version (#113)
  .pylintrc
  docker/which-files.txt
  kit/commands/list_cmd.py
  kit/hekit.py
  kit/utils/tab_completion.py
  pylintrc
Due: black

first try at subparsers as plugins
  kit/hekit.py
Due: black

[refactor] simplified for loop
  kit/hekit.py
Due: black

tools as plugins
  kit/hekit.py
Due: black

refactor to simplify
  kit/hekit.py
Due: black

better renaming
  kit/hekit.py
Due: black

move util functions out
  kit/hekit.py
  kit/utils/subparsers.py
Due: black

pylint tidy
  kit/hekit.py
Due: black

update which files
  docker/which-files.txt
Due: none

update which-files
  docker/which-files.txt
Due: none

Fixing subparsers test
  tests/test_subparsers.py
Due: black

Subparsers as plugins (#114)
  docker/which-files.txt
  kit/hekit.py
  kit/utils/subparsers.py
  tests/context.py
  tests/test_healg.py
  tests/test_subparsers.py
Due: black

fixing run pytest parallel
  tests/input_files/default_v2.config
  tests/input_files/test.toml
  tests/input_files/test_two_instances.toml
  tests/test_integration_docker.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Adding force flag
  kit/commands/install.py
Due: black

Fixing pytest failures
  tests/test_cmd_install.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Fixing broken links
  README.md
Due: none

Excluding force flag for fetching
  kit/commands/install.py
Due: black

Pre-commit fixes
  README.md
Due: none

Adding command "new "
  kit/README.md
Due: none

Pre-commit fixes
  kit/README.md
Due: none

add Tomas' name and a few tweaks
  README.md
Due: none

Force flag to rebuild/reinstall a recipe (#112)
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
  tests/test_integration_install.py
  tests/test_tab_comp.py
Due: black

Fixing typo
  README.md
Due: none

Updating list of commands
  README.md
Due: none

Initial cleanup/reformat
  README.md
Due: none

clarify adding new commands
  README.md
Due: none

mFixing pytest parallel
  tests/input_files/test.toml
  tests/input_files/test_two_instances.toml
Due: none

README.md
  README.md
Due: none

Improve pytest performance (#116)
  tests/input_files/test.toml
  tests/input_files/test_two_instances.toml
Due: none

kit/README
  kit/README.md
Due: none

Rewrite how to start a new project with a docker build
  docker/README.md
Due: none

Formatting and tweaks
  README.md
  kit/README.md
Due: none

Deleting duplicated data
  README.md
Due: none

Documentation update 2.0.0-rc3 (#117)
  README.md
  docker/README.md
  kit/README.md
  kit/tools/README.md
Due: none

Adding pre-commit which-file
  .pre-commit-config.yaml
  .whichfile-format
  new-which-files.txt
Due: none

move, rename, refactor script
  .github/scripts/check-whichfile.sh
  .pre-commit-config.yaml
  .whichfile-format
  docker/which-files.txt
  new-which-files.txt
Due: shfmt, shellcheck

Fixing warnings reported by Klocwork
  he-samples/examples/secure-query/src/sqclient.cpp
  he-samples/examples/secure-query/src/sqserver.cpp
Due: clang-format-10, cpplint
