Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

mypy and pylint run from pre-commit
  .github/scripts/run-mypy.sh
  .github/scripts/run-pylint.sh
  .pre-commit-config.yaml
  docker/which-files.txt
Due: shfmt, shellcheck

added to dev reqs
  dev_reqs.txt
Due: none

removing separate pylint step
  .github/workflows/github-ci.yml
Due: none

Adding new tests
  docker/which-files.txt
  kit/tools/healg.py
  tests/input_files/depend_wrong.txt
  tests/input_files/test_missing_quotes.toml
  tests/input_files/test_missing_value.toml
  tests/input_files/test_wrong_format.toml
  tests/test_healg.py
  tests/test_integration_healg.py
  tests/test_integration_wrong_toml.py
Due: black

Deleting 'import tests.context'
  kit/utils/subparsers.py
  tests/test_subparsers.py
Due: black

AFixing wrong ppath in mocker
  tests/test_integration_install.py
Due: black

Deleting no needed 'import tests.context'
  tests/test_cmd_check_deps.py
  tests/test_cmd_docker_build.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_new.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_docker_tool.py
  tests/test_healg.py
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_spec.py
  tests/test_tab_comp.py
  tests/test_tsort.py
Due: black

Deleting comment
  tests/test_subparsers.py
Due: black

Removing context.py file
  docker/which-files.txt
  tests/context.py
Due: black

deleting unused '# pylint: disable=no-name-in-module'
  kit/commands/docker_build.py
Due: black

check mypy is there
  .github/scripts/run-mypy.sh
Due: shfmt, shellcheck

stop search printout
  .github/scripts/run-mypy.sh
Due: shfmt, shellcheck

Setting HEKITPATH variable for CI
  .github/workflows/github-ci.yml
Due: none

Updating README files
  README.md
  kit/README.md
Due: none

Fixing docker build
  docker/Dockerfile.toolkit
  hekit
Due: none

mypy to install types
  .github/scripts/run-mypy.sh
Due: shfmt, shellcheck

workflow install types-toml
  .github/scripts/run-mypy.sh
  .github/workflows/github-ci.yml
Due: shfmt, shellcheck

return old init behaviour
  hekit
  kit/hekit.py
  kit/utils/subparsers.py
Due: black

Apply suggestions from code review
  README.md
  kit/README.md
Due: none

Undoing changes for 'HEKITPATH=.'
  .github/workflows/github-ci.yml
  docker/Dockerfile.toolkit
Due: none

Fixing unit test failures
  tests/test_integration_wrong_toml.py
Due: black

checks for symlinks before opening files
  docker/which-files.txt
  kit/commands/install.py
  kit/utils/config.py
  tests/input_files/default_symlink.config
  tests/input_files/test_symlink.toml
  tests/test_integration_wrong_inputs.py
Due: black

Adding testing for null byte injection
  docker/which-files.txt
  tests/input_files/web.xml\0default.config
  tests/input_files/web.xml\0test.toml
  tests/test_integration_wrong_inputs.py
Due: black

Skipping test related to null byte injection
  docker/which-files.txt
  kit/commands/install.py
  tests/input_files/web.xml__default.config
  tests/input_files/web.xml__test.toml
  tests/test_integration_wrong_inputs.py
Due: black

Deleting no required files
  docker/which-files.txt
  tests/input_files/web.xml__default.config
  tests/input_files/web.xml__test.toml
Due: none

Fixes per code review
  kit/commands/install.py
  kit/utils/config.py
Due: black

Enable tests for null byte injection
  tests/test_integration_wrong_inputs.py
Due: black

Add tests for validation plan (#126)
  docker/which-files.txt
  kit/commands/install.py
  kit/tools/healg.py
  kit/utils/config.py
  tests/input_files/default_symlink.config
  tests/input_files/depend_wrong.txt
  tests/input_files/test_missing_quotes.toml
  tests/input_files/test_missing_value.toml
  tests/input_files/test_symlink.toml
  tests/input_files/test_wrong_format.toml
  tests/test_healg.py
  tests/test_integration_healg.py
  tests/test_integration_wrong_inputs.py
Due: black

Addd code to check non-printable characters
  kit/commands/check_deps.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/subparsers.py
  tests/test_subparsers.py
Due: black

Add Banddit scan for CI
  .github/scripts/run-bandit.sh
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  docker/which-files.txt
  kit/commands/check_deps.py
  kit/hekit.py
  kit/tools/healg.py
  kit/utils/component_builder.py
Due: shfmt, shellcheck, black

Fixes per code review
  kit/utils/subparsers.py
  tests/test_subparsers.py
Due: black

Add to dev reqs
  .github/scripts/run-bandit.sh
  .github/scripts/run-mypy.sh
  .github/scripts/run-pylint.sh
  .github/workflows/github-ci.yml
  README.md
  dev_reqs.txt
Due: shfmt, shellcheck

Add bandit to CI (#128)
  .github/scripts/run-bandit.sh
  .github/scripts/run-mypy.sh
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  README.md
  dev_reqs.txt
  docker/which-files.txt
  kit/commands/check_deps.py
  kit/hekit.py
  kit/tools/healg.py
  kit/utils/component_builder.py
Due: shfmt, shellcheck, black

init subtree
  expr/README.md
  expr/scripts/decode.py
  expr/scripts/encode.py
Due: black

ptxt object
  docker/which-files.txt
  expr/scripts/README.md
  expr/scripts/decode.py
  expr/scripts/encode.py
  expr/scripts/ptxt.py
Due: black

Add code to avoid non-printable characters in inputs (#127)
  kit/commands/check_deps.py
  kit/commands/install.py
  kit/commands/new.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/subparsers.py
  tests/test_subparsers.py
Due: black

Fix ModuleNotFoundError error
  hekit
  kit/commands/init.py
Due: black

Fix ModuleNotFoundError error (#129)
  hekit
  kit/commands/init.py
Due: black

tools dir
  docker/which-files.txt
  tools/README.md
Due: none
