Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck

clang-format-10:
  name: clang-format-10
  entry: clang-format-10
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

back substitution test passing
  kit/spec.py
  tests/test_spec.py
Due: none

Update README.md
  he-samples/examples/psi/README.md
Due: none

Changes after executing pre-commit tool
  README.md
  docker/README.md
  docker/runners/run_psi_example.sh
  docker/welcome_msg.sh
  he-samples/examples/psi/README.md
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, shfmt, cpplint, shellcheck

component repo location tests
  kit/spec.py
  tests/test_spec.py
Due: none

dependency substitution test
  kit/hekit.py
  kit/spec.py
  tests/test_spec.py
Due: none

Bugfix for CMake error
  he-samples/examples/psi/CMakeLists.txt
Due: none

integrated new spec object
  kit/command_install.py
  kit/component_builder.py
  kit/spec.py
  recipes/test.toml
  tests/test_spec.py
Due: none

remove unnecessary import
  kit/command_install.py
Due: none

fix some notices
  kit/command_install.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  kit/hekit.py
  kit/spec.py
  kit/tsort.py
  recipes/test.toml
  tests/test_spec.py
  tests/test_tsort.py
Due: none

Fixed linking error during native build
  he-samples/cmake/helib.cmake
  he-samples/examples/psi/CMakeLists.txt
Due: none

Fixed typo
  .typos.toml
Due: none

format LR python scripts
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: none

Update README.md
  README.md
Due: none

Update he-samples/examples/psi/README.md
  he-samples/examples/psi/README.md
Due: none

Update docker/README.md
  docker/README.md
Due: none

Descriptions were updated per review
  he-samples/examples/psi/README.md
Due: none

Versions of libraries were updated and new comments were added
  .github/workflows/github-ci.yml
  .pre-commit-config.yaml
  README.md
  he-samples/cmake/helib.cmake
  he-samples/cmake/seal.cmake
  he-samples/examples/psi/psi.cpp
Due: clang-format-10, cpplint

patch for using HEXL 1.2.3 with PALISADE
  he-samples/cmake/palisade.cmake
  he-samples/patches/palisade-hexl.patch
Due: none

Added build of NTL from source
  .github/workflows/github-ci.yml
Due: none

Simple PSI example (#58)
  .github/workflows/github-ci.yml
  .gitignore
  .pre-commit-config.yaml
  .typos.toml
  README.md
  docker/README.md
  docker/runners/run_psi_example.sh
  docker/welcome_msg.sh
  he-samples/cmake/helib.cmake
  he-samples/cmake/palisade.cmake
  he-samples/cmake/seal.cmake
  he-samples/examples/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/psi/README.md
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
  he-samples/examples/psi/datasets/fruits.set
  he-samples/examples/psi/datasets/us_states.set
  he-samples/examples/psi/psi.cpp
  he-samples/patches/palisade-hexl.patch
Due: clang-format-10, shfmt, cpplint, shellcheck

Bug fixes: palisade patch, update tags, ntl from source
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Change Group ID to avoid clash on Mac, and edit tar command
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Update to documentation
  README.md
  docker/README.md
Due: none

Extra logic for MacOSX UID/GID
  docker/README.md
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

subparser descriptions now printed
  kit/hekit.py
Due: none

Docker build supported on macOS Catalina (#60)
  README.md
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/README.md
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Changed references of "HEXL" to "HE Acceleration Library"
  .github/workflows/github-ci.yml
  README.md
  docker/Dockerfile.toolkit
  docker/README.md
  docker/setup_and_run_docker.sh
  he-samples/CMakeLists.txt
Due: shfmt, shellcheck

Change references of "HEXL" to "HE Acceleration Library" (#61)
  .github/workflows/github-ci.yml
  README.md
  docker/Dockerfile.toolkit
  docker/README.md
  docker/setup_and_run_docker.sh
  he-samples/CMakeLists.txt
Due: shfmt, shellcheck

Update Palisade to 1.11.6 and remove patch
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  he-samples/cmake/palisade.cmake
  he-samples/patches/palisade-hexl.patch
Due: shfmt, shellcheck

Update .github/workflows/github-ci.yml
  .github/workflows/github-ci.yml
Due: none

Increase number of bits in palisade tests
  he-samples/sample-kernels/test/test_palisade_ckks_kernel_executor.cpp
Due: clang-format-10, cpplint

install black via pip
  .github/workflows/github-ci.yml
Due: none

Path conditions:
  clang-format-10: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
