Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

adding python version
  .github/workflows/github-ci.yml
Due: none

commenting except helib
  .github/workflows/github-ci.yml
Due: none

removing space
  .github/workflows/github-ci.yml
Due: none

adding python
  .github/workflows/github-ci.yml
Due: none

adding quotation
  .github/workflows/github-ci.yml
Due: none

removing quotes
  .github/workflows/github-ci.yml
Due: none

changing python setup
  .github/workflows/github-ci.yml
Due: none

testing with quotes
  .github/workflows/github-ci.yml
Due: none

testing python
  .github/workflows/github-ci.yml
Due: none

removing python and testing pre-commit
  .github/workflows/github-ci.yml
Due: none

testing different versions of python
  .github/workflows/github-ci.yml
Due: none

added to palisade python version 3.9 ubuntu 20.04 and 3.10 on ubuntu 22.04
  .github/workflows/github-ci.yml
Due: none

testing seal with python
  .github/workflows/github-ci.yml
Due: none

testing python version 3.9 ubuntu and 3.10 on ubuntu 22.04
  .github/workflows/github-ci.yml
Due: none

Add AdminClient for checking topic
  deployments/config_psi/psi/include/data_connection.h
Due: clang-format, cpplint

fix test. added check.
  kit/commands/docker_build.py
  kit/tools/healg.py
  tests/test_integration_healg.py
Due: black

refactor
  kit/tools/healg.py
  kit/utils/files.py
Due: black

minor tweak
  kit/tools/healg.py
Due: black

updated readme with python version
  .github/workflows/README.md
Due: none

updated to actions
  .github/workflows/github-ci.yml
Due: none

Update kit/tools/healg.py
  kit/tools/healg.py
Due: black

Add python 3.9 to CI (#166)
  .github/workflows/README.md
  .github/workflows/github-ci.yml
Due: none

Added type hints to healg (#165)
  kit/commands/docker_build.py
  kit/tools/healg.py
  kit/utils/files.py
  tests/test_integration_healg.py
Due: black

survey quickstart guide
  Quickstart-guide
Due: none

removing task
  Quickstart-guide
Due: none

Some changes were made to the coder.h, sparsepoly.h and two tests added
  tools/encoder/CMakeLists.txt
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
  tools/encoder/sparse_poly.h
  tools/encoder/tests/test_nibnaf_multi.cpp
Due: clang-format, cpplint

Cleaned Up
  docker/which-files.txt
  tools/encoder/tests/test_nibnaf_balanced_addition.cpp
  tools/encoder/tests/test_nibnaf_frac_addition.cpp
Due: clang-format, cpplint

split healg
  README.md
  docker/which-files.txt
  kit/tools/README.md
  kit/tools/algebras.py
  kit/tools/gen_primes.py
  kit/utils/primes.py
Due: black

WIP factor tests
  kit/tools/README.md
  tests/test_tool_healg.py
  tests/test_util_files.py
  tests/test_util_subparsers.py
Due: black

changes steps
  Quickstart-guide
Due: none

added quick start guide which-files
  Quickstart-guide
  docker/which-files.txt
Due: none

Add recipe for pilot
  docker/which-files.txt
  recipes/pilot-config-psi.toml
Due: none

rename to QUICK_START.md. Some rewording.
  QUICK_START.md
  docker/which-files.txt
Due: none

typos. rewording.
  QUICK_START.md
Due: none

compiling with shift
  .bandit
  tools/encoder/coder.h
  tools/encoder/sparse_poly.h
Due: clang-format, cpplint

change arg type to boolean, test signing
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

tweak headings
  QUICK_START.md
Due: none

forwarding in main README
  README.md
Due: none
