Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

Enable zshell
  .github/workflows/github-ci.yml
Due: none

change rc file
  .github/workflows/github-ci.yml
Due: none

Minor changes
  .github/workflows/github-ci.yml
Due: none

updating github-ci.yml file
  .github/workflows/github-ci.yml
Due: none

testing zsh
  .github/workflows/github-ci.yml
Due: none

Reverting changes for zsh
  .github/workflows/github-ci.yml
Due: none

update github-ci.yml file
  .github/workflows/github-ci.yml
Due: none

added code for all the staging scripts - although not completely functional. last commit before end of internship
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/start.py
Due: black

Update helib/hexl versions
  .github/hekit-recipes/helib.toml
Due: none

Refactor internal install cmd api (#169)
  kit/commands/install.py
  kit/utils/component_builder.py
  tests/test_cmd_install.py
Due: black

execute unit test with zshell
  .github/workflows/github-ci.yml
Due: none

Revert test name
  .github/workflows/github-ci.yml
Due: none

Revert previous change
  .github/workflows/github-ci.yml
Due: none

Apply suggestions from code review
  tests/test_integration_algebras.py
Due: black

Apply suggestions from code review
  tests/test_cmd_init.py
Due: black

Enable zsh support (#170)
  .github/workflows/github-ci.yml
  kit/commands/init.py
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

added ipcl recipe file
  .github/hekit-recipes/ipcl.toml
Due: none

Enable Openfhe plugin (#171)
  docker/which-files.txt
  third-party/openfhe_plugin/__init__.py
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

Separate out existing tools (#168)
  .github/hekit-recipes/helib.toml
  README.md
  docker/which-files.txt
  kit/tools/README.md
  kit/tools/algebras.py
  kit/tools/gen_primes.py
  kit/utils/primes.py
  tests/test_integration_algebras.py
  tests/test_integration_gen_primes.py
  tests/test_tool_algebras.py
  tests/test_util_files.py
  tests/test_util_primes.py
  tests/test_util_subparsers.py
Due: black

yes util functions (#172)
  docker/which-files.txt
  kit/commands/init.py
  kit/commands/plugin.py
  kit/commands/remove.py
  kit/utils/yes.py
Due: black

Edit recipe file
  recipes/kafka-config-psi.toml
Due: none

Remove debug mode
  recipes/kafka-config-psi.toml
Due: none

macOS build fixes (#174)
  he-samples/examples/logistic-regression/include/timer.hpp
  he-samples/examples/logistic-regression/src/timer.cpp
Due: clang-format, cpplint

WIP init
  docker/which-files.txt
  third-party/lattice_estimator_plugin/__init__.py
  third-party/lattice_estimator_plugin/docker/.env
  third-party/lattice_estimator_plugin/docker/Dockerfile
  third-party/lattice_estimator_plugin/docker/docker-compose.yaml
  third-party/lattice_estimator_plugin/plugin.toml
  third-party/lattice_estimator_plugin/start.py
Due: black

mod which-files
  docker/which-files.txt
Due: none

tweaks
  third-party/lattice_estimator_plugin/docker/docker-compose.yaml
  third-party/lattice_estimator_plugin/start.py
Due: black

WIP recipe file
  third-party/lattice_estimator_plugin/install.toml
Due: none

restruct plugin subtree
  docker/which-files.txt
  plugins/README.md
  plugins/hello_world/__init__.py
  plugins/hello_world/hello.py
  plugins/hello_world/plugin.toml
  plugins/hello_world/start.py
  plugins/lattice_estimator/__init__.py
  plugins/lattice_estimator/docker/.env
  plugins/lattice_estimator/docker/Dockerfile
  plugins/lattice_estimator/docker/docker-compose.yaml
  plugins/lattice_estimator/plugin.toml
  plugins/lattice_estimator/recipes/install.toml
  plugins/lattice_estimator/start.py
Due: black

pytests pass
  docker/which-files.txt
  third-party/lattice_estimator_plugin/recipes/install.toml
  third-party/lattice_estimator_plugin/start.py
Due: black

WIP fetch working
  docker/which-files.txt
  plugins/lattice_estimator/README.md
  plugins/lattice_estimator/start.py
Due: black

WIP latest
  plugins/lattice_estimator/recipes/install.toml
  plugins/lattice_estimator/start.py
Due: black

Use new recipe file for config PSI in CI
  .github/workflows/github-ci.yml
Due: none

Initial edit of templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Update bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
