Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

clang-format:
  name: clang-format
  entry: clang-format
  language: system
  args:
  - -i

shfmt:
  name: shfmt
  entry: shfmt
  language: system
  args:
  - -d
  - -i
  - '2'
  - -ci
  - -sr
  - -bn
  - -w

cpplint:
  name: cpplint
  entry: cpplint
  language: system
  args:
  - --recursive

shellcheck:
  name: shellcheck
  entry: shellcheck
  language: system
  args:
  - -s
  - bash
  - -e
  - SC1091

black:
  name: black
  entry: black
  language: system

fix quote passing, vscode block general
  docker/Dockerfile.vscode
  hekit
  kit/commands/docker_build.py
  kit/utils/constants.py
Due: black

fix quote passing, vscode block general
  docker/which-files.txt
  kit/commands/docker_build.py
Due: black

Deprecate support on Ubuntu 20.04
  README.md
Due: none

Compiler support matrix on Ubuntu 22.04
  .github/workflows/README.md
Due: none

generalise base and toolkit build
  docker/Dockerfile.base
  kit/commands/docker_build.py
  kit/utils/tab_completion.py
Due: black

Update CODEOWNERS
  CODEOWNERS
Due: none

Update README.md
  .github/workflows/README.md
Due: none

build 22.04
  docker/Dockerfile.base
  kit/commands/docker_build.py
  kit/utils/tab_completion.py
Due: black

replace with wrtielines
  kit/commands/init.py
  kit/commands/new.py
Due: black

pytest correction and removal for copyfiles
  tests/test_cmd_docker_build.py
  tests/test_integration_docker.py
Due: black

Update README.md
  README.md
Due: none

Revert changes to avoid SC2294
  docker/runners.sh
Due: shfmt, shellcheck

Disable check for SC2294
  .shellcheckrc
Due: none

Deprecate testing on ubuntu20.04 (#181)
  .github/workflows/README.md
  .github/workflows/github-ci.yml
  .shellcheckrc
  CODEOWNERS
  README.md
  docker/which-files.txt
  kit/utils/tab_completion.py
  tests/test_integration_wrong_inputs.py
Due: black

Re-introduce choices to docker features
  kit/commands/docker_build.py
Due: black

Pull base image
  kit/utils/docker_tools.py
Due: black

Fix mypy error
  kit/commands/docker_build.py
Due: black

Fix failing pytests
  kit/utils/docker_tools.py
  tests/test_integration_docker.py
  tests/test_util_docker_tool.py
Due: black

choices fix, pull only platform image
  kit/commands/docker_build.py
  kit/utils/docker_tools.py
Due: black

add pull_base_image to mocker
  tests/test_cmd_docker_build.py
Due: black

check if image already exists
  kit/commands/docker_build.py
Due: black

Only pull base image if not present - fixes
  kit/commands/docker_build.py
  tests/test_cmd_docker_build.py
Due: black

Flexibility for docker builds (#182)
  docker/Dockerfile.base
  docker/Dockerfile.vscode
  docker/README.md
  docker/dockerfiles.toml
  docker/which-files.txt
  hekit
  kit/commands/docker_build.py
  kit/commands/init.py
  kit/commands/new.py
  kit/utils/constants.py
  kit/utils/docker_tools.py
  tests/test_cmd_docker_build.py
  tests/test_integration_docker.py
  tests/test_util_docker_tool.py
Due: black

added clang-format to Dockerfile.base
  docker/Dockerfile.base
Due: none

added clang-format to Dockerfile.base (#183)
  docker/Dockerfile.base
Due: none

init choose platform
  kit/commands/docker_build.py
Due: black

Add option to docker-build command doc
  kit/README.md
Due: none

default printed in help
  kit/commands/docker_build.py
Due: black

update docker README
  .pre-commit-config.yaml
  docker/README.md
Due: none

add platform to mock obj
  tests/test_cmd_docker_build.py
  tests/test_integration_docker.py
Due: black

typos
  .pre-commit-config.yaml
  deployments/config_psi/psi/tests/TestLookup.cpp
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/psi/src/psi.cpp
  kit/PLUGINS.md
  kit/commands/docker_build.py
  kit/utils/spec.py
  notes/GroupsNotes.tex
  notes/NumberTheoryNotes.tex
  notes/RingsAndFieldsNotes.tex
  notes/RingsAndFieldsPresentation.tex
  tests/test_util_spec.py
Due: clang-format, cpplint, black

update pre commit and add ignore to typos
  .pre-commit-config.yaml
  .typos.toml
Due: none

Remove MacOS statement
  docker/README.md
Due: none

override default base docker platform (#184)
  .pre-commit-config.yaml
  .typos.toml
  deployments/config_psi/psi/tests/TestLookup.cpp
  docker/README.md
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/psi/src/psi.cpp
  kit/PLUGINS.md
  kit/README.md
  kit/commands/docker_build.py
  kit/utils/spec.py
  notes/GroupsNotes.tex
  notes/NumberTheoryNotes.tex
  notes/RingsAndFieldsNotes.tex
  notes/RingsAndFieldsPresentation.tex
  tests/test_cmd_docker_build.py
  tests/test_integration_docker.py
  tests/test_util_spec.py
Due: clang-format, cpplint, black

move version logic into argparse
  kit/hekit.py
Due: black

change python version check
  kit/hekit.py
  kit/utils/constants.py
Due: black

update test
  tests/test_integration_docker.py
Due: black

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
  shfmt: any of: \.sh$
  cpplint: any of: \.(c|cc|cxx|cpp|h|hpp|hxx)$
  shellcheck: any of: \.sh$
  black: any of: \.py$
