Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

edit table details in CI README
  .github/workflows/README.md
Due: none

remove clang-12 for now
  .github/workflows/github-ci.yml
Due: none

add ubuntu20+clang-14 to exclude list
  .github/workflows/github-ci.yml
Due: none

add gcc-11+ubuntu-20 to exclude list
  .github/workflows/github-ci.yml
Due: none

cleanUp bugfix
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

dynamic topic
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/include/data_record.h
  deployments/config_psi/psi/include/read_config.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Changed Encpoly class to EncPolyBase and have ENcPolyFrac as a derived class
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

test commit and signature
  docker/which-files.txt
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

test sign
  third-party/openfhe_plugin/configurator.py
  third-party/openfhe_plugin/plugin.toml
  third-party/openfhe_plugin/start.py
Due: black

Add Ubuntu 22.04 to CI (#155)
  .github/workflows/README.md
  .github/workflows/github-ci.yml
  README.md
  docker/which-files.txt
  he-samples/cmake/gtest.cmake
  he-samples/examples/logistic-regression/CMakeLists.txt
Due: none

Code cleanup
  deployments/config_psi/psi/include/data_connection.h
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Remove dead code
  deployments/config_psi/psi/CMakeLists.txt
  deployments/config_psi/psi/src/configurable_psi.cpp
Due: clang-format, cpplint

Bug fix coder script
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/natural.py
Due: black

fix to decoder
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/natural.py
Due: black

Bug fix docker build
  docker/Dockerfile.toolkit
Due: none

add Optional
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/encode.py
  kit/utils/files.py
Due: black

Adding missing setttings
  deployments/config_psi/psi/include/data_connection.h
Due: clang-format, cpplint

move pre-commit order and ignore error from missing stubs
  .pre-commit-config.yaml
  kit/utils/docker_tools.py
Due: black

minor
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/natural.py
Due: black

Bug fix docker build (#164)
  .pre-commit-config.yaml
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/encode.py
  docker/Dockerfile.toolkit
  kit/utils/docker_tools.py
  kit/utils/files.py
Due: black

fix
  deployments/config_psi/scripts/decode.py
Due: black

adding python version
  .github/workflows/github-ci.yml
Due: none

removing space
  .github/workflows/github-ci.yml
Due: none

commenting except helib
  .github/workflows/github-ci.yml
Due: none

added type hitns to healg
  kit/tools/healg.py
  kit/utils/files.py
Due: black

adding quotation
  .github/workflows/github-ci.yml
Due: none

Fix to decoder (#163)
  deployments/config_psi/scripts/decode.py
  deployments/config_psi/scripts/natural.py
Due: black

adding python
  .github/workflows/github-ci.yml
Due: none

Add missing parameter
  deployments/config_psi/psi/include/data_connection.h
Due: clang-format, cpplint

changing python setup
  .github/workflows/github-ci.yml
Due: none

removing quotes
  .github/workflows/github-ci.yml
Due: none

testing python
  .github/workflows/github-ci.yml
Due: none

testing with quotes
  .github/workflows/github-ci.yml
Due: none

removing python and testing pre-commit
  .github/workflows/github-ci.yml
Due: none

testing different versions of python
  .github/workflows/github-ci.yml
Due: none

testing seal with python
  .github/workflows/github-ci.yml
Due: none

testing python version 3.9 ubuntu and 3.10 on ubuntu 22.04
  .github/workflows/github-ci.yml
Due: none

added to palisade python version 3.9 ubuntu 20.04 and 3.10 on ubuntu 22.04
  .github/workflows/github-ci.yml
Due: none
