Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Split of public CI jobs
  .github/hekit-recipes/helib.toml
  .github/hekit-recipes/palisade.toml
  .github/hekit-recipes/seal.toml
  .github/workflows/github-ci.yml
Due: none

Added unit tests for command_check_deps.py
  kit/command_check_deps.py
  tests/test_cmd_check_deps.py
  tests/test_integration_check_deps.py
Due: black

Fixing test sdue too source code changes
  tests/test_integration_docker.py
Due: black

missing keys in recipes
  .github/hekit-recipes/helib.toml
  .github/hekit-recipes/palisade.toml
  .github/hekit-recipes/seal.toml
Due: none

tidy for some linting
  kit/command_check_deps.py
  kit/command_list.py
  kit/component_builder.py
  kit/config.py
  kit/docker_tools.py
  kit/hekit.py
  kit/tsort.py
Due: black

Tests for public CI runners (#83)
  .github/hekit-recipes/helib.toml
  .github/hekit-recipes/palisade.toml
  .github/hekit-recipes/seal.toml
  .github/workflows/github-ci.yml
Due: none

pylint changes
  kit/command_check_deps.py
  kit/command_init.py
  kit/spec.py
Due: black

add missing pip dependency
  .github/workflows/github-ci.yml
Due: none

update which files
  docker/which-files.txt
Due: none

unused import and clearer naming
  kit/command_init.py
Due: black

revert lr refactoring
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black

Fix links
  README.md
Due: none

New intro and tweaks
  README.md
Due: none

tweak intro
  README.md
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black

Add setup step
  README.md
Due: none

improve docker README
  docker/README.md
Due: none

remove accidental include
  he-samples/examples/logistic-regression/datasets/generate_data.py
  he-samples/examples/logistic-regression/datasets/lr_base.py
Due: black

typo fixes
  kit/command_docker_build.py
  kit/docker_tools.py
  kit/hekit.py
Due: black

typos and correct command
  README.md
Due: none

Expand on hekit command and init vs code section
  README.md
  docker/README.md
Due: none

Added funtional test for init command
  kit/command_init.py
  tests/test_integration_check_deps.py
  tests/test_integration_init.py
Due: black

Fix paths for runners
  docker/runners.sh
Due: shfmt, shellcheck

Formatting and minor tweaks to sample-kernels and examples READMEs
  he-samples/examples/logistic-regression/README.md
  he-samples/examples/psi/README.md
  he-samples/examples/secure-query/README.md
  he-samples/sample-kernels/README.md
  he-samples/sample-kernels/test/README.md
Due: none

Update kit/command_init.py
  kit/command_init.py
Due: black

Fixes per code review
  kit/command_init.py
  tests/test_cmd_init.py
  tests/test_integration_init.py
Due: black

Expand vscode section
  docker/README.md
Due: none

Fix to runners scripts
  docker/runners.sh
Due: shfmt, shellcheck

Added functional test for init command (#85)
  kit/command_init.py
  tests/test_cmd_init.py
  tests/test_integration_check_deps.py
  tests/test_integration_init.py
Due: black

Fix default behaviour of psi example runner
  docker/runners.sh
Due: shfmt, shellcheck

Add to docker README
  docker/README.md
Due: none

Fix runners
  docker/runners.sh
Due: shfmt, shellcheck

reword welcome msg
  docker/runners.sh
Due: shfmt, shellcheck

python reqs files
  README.md
  dev_reqs.txt
  requirements.txt
Due: none

sorted and nonascii changed for names
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: none

added note that shell init script modified
  README.md
Due: none

reword kit README
  kit/README.md
Due: none

Patch fixes (#86)
  docker/setup_and_run_docker.sh
  docker/welcome_msg.sh
  he-samples/examples/psi/datasets/ancient_egyptian_gods.set
Due: shfmt, shellcheck

Update pre-commit version in CI
  .github/workflows/github-ci.yml
Due: none
