Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.9
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format
          name: clang-format
          entry: clang-format
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$
        - id: which-files
          name: which-files
          entry: .github/scripts/check-repo-contents-file.sh
          language: script
          # Always run because other renamed, modified, or deleted files need to
          # be reflected in the contents file.
          always_run: true
          # This forces only docker/which-files.txt to be considered and passed
          # in the an arg. Not having at least 'files' defined can lead to
          # overwrite of other files.
          pass_filenames: false
          files: docker/which-files.txt
          args: [docker/which-files.txt]
        - id: mypy
          name: mypy
          entry: .github/scripts/run-mypy.sh
          language: script
          pass_filenames: false
        - id: pylint
          name: pylint
          entry: .github/scripts/run-pylint.sh
          language: script
          pass_filenames: false

Add step to cleanup runner workspace
  .github/workflows/github-ci.yml
Due: none

fix indentation
  .github/workflows/github-ci.yml
Due: none

pre-commit
  .github/workflows/github-ci.yml
Due: none

remove dir only after last job runs
  .github/workflows/github-ci.yml
Due: none

more declarative
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

tidy for loop
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

remove wrong const
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

prelim tests
  docker/which-files.txt
  tools/encoder/coder.h
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

update docstring
  kit/utils/config.py
Due: black

Add decorator to load config file (#134)
  docker/which-files.txt
  kit/commands/install.py
  kit/commands/list_cmd.py
  kit/commands/remove.py
  kit/hekit.py
  kit/utils/component_builder.py
  kit/utils/config.py
  tests/input_files/default_wrong.config
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_integration_healg.py
  tests/test_integration_init.py
  tests/test_integration_wrong_inputs.py
  tests/test_util_config.py
Due: black

Fix failure in cleanup test
  .github/workflows/github-ci.yml
Due: none

Fix error due to merge conflicts
  .github/workflows/github-ci.yml
Due: none

some stuff
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Refactor integration tests
  tests/input_files/test.toml
  tests/test_integration_install.py
  tests/test_integration_wrong_inputs.py
Due: black

Refactor some tests in test_integration_wrong_inputs.py
  docker/which-files.txt
  tests/common_utils.py
  tests/test_integration_install.py
  tests/test_integration_wrong_inputs.py
Due: black

Update encoder-source.cpp
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

ctor. namespace.
  tools/encoder/coder.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

correct date
  tools/encoder/coder.h
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

Try cleanup step
  .github/workflows/github-ci.yml
Due: none

Deleting clean-up job
  .github/workflows/github-ci.yml
Due: none

Update nibnaf.h
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

refactoring tests integration wrong inputs
  tests/test_integration_wrong_inputs.py
Due: black

Refaactor integration tests
  tests/test_integration_healg.py
  tests/test_integration_install.py
Due: black

Refactor unit tests
  tests/test_integration_healg.py
  tests/test_integration_wrong_inputs.py
  tests/test_spec.py
Due: black

Rename Files
  docker/which-files.txt
  tests/test_tool_healg.py
  tests/test_util_comp_builder.py
  tests/test_util_docker_tool.py
  tests/test_util_files.py
  tests/test_util_spec.py
  tests/test_util_subparsers.py
  tests/test_util_tab_comp.py
  tests/test_util_tsort.py
Due: black

add workspace dir for self-hosted runner
  .github/workflows/github-ci.yml
Due: none

code tidy
  tools/encoder/encoder-source.cpp
  tools/encoder/nibnaf.h
Due: clang-format, cpplint

add name to step
  .github/workflows/github-ci.yml
Due: none

remove working-directory for testing purposes
  .github/workflows/github-ci.yml
Due: none

fix pre-commit
  .github/workflows/github-ci.yml
Due: none

remove temp dir
  .github/workflows/github-ci.yml
Due: none

refactor unit test
  tests/common_utils.py
  tests/test_integration_healg.py
  tests/test_integration_install.py
  tests/test_integration_wrong_inputs.py
Due: black

Add TEMP_DIRECTORY
  .github/workflows/github-ci.yml
Due: none

Update unit tests
  kit/commands/init.py
  tests/test_integration_docker.py
  tests/test_integration_init.py
  tests/test_integration_wrong_inputs.py
  tests/test_util_tab_comp.py
Due: black

Took out the sz from gap
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

Fix CI failure in cleanup step (#138)
  .github/workflows/github-ci.yml
Due: none

Updating the tests
  tools/encoder/encoder-source.cpp
Due: clang-format, cpplint

refactor test and delete no needed info
  kit/commands/init.py
  tests/test_cmd_check_deps.py
  tests/test_cmd_docker_build.py
  tests/test_cmd_init.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_new.py
  tests/test_cmd_remove.py
  tests/test_integration_check_deps.py
  tests/test_integration_docker.py
  tests/test_integration_init.py
  tests/test_util_comp_builder.py
  tests/test_util_config.py
  tests/test_util_docker_tool.py
  tests/test_util_files.py
  tests/test_util_spec.py
  tests/test_util_subparsers.py
  tests/test_util_tab_comp.py
Due: black
