Repository intel/he-toolkit: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format-10, shfmt, cpplint, shellcheck, black

.pre-commit-config.yaml:

# Copyright (C) 2020-2021 Intel Corporation
# SPDX-License-Identifier: Apache-2.0

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.5.0
      hooks:
        - id: trailing-whitespace
        - id: end-of-file-fixer
        - id: check-merge-conflict
        - id: mixed-line-ending
        - id: check-byte-order-marker
        - id: check-yaml
    - repo: https://github.com/crate-ci/typos
      rev: v1.1.6
      hooks:
        - id: typos
    - repo: local
      hooks:
        - id: clang-format-10
          name: clang-format-10
          entry: clang-format-10
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx|js|proto)$
          args:
            - -i
        - id: shfmt
          name: shfmt
          entry: shfmt
          language: system
          files: \.sh$
          args:
            - -d
            - -i
            - '2'
            - -ci
            - -sr
            - -bn
            - -w
        - id: cpplint
          name: cpplint
          entry: cpplint
          language: system
          files: \.(c|cc|cxx|cpp|h|hpp|hxx)$
          args:
            - --recursive
        - id: shellcheck
          name: shellcheck
          entry: shellcheck
          language: system
          files: \.sh$
          args:
            - -s
            - bash
            - -e
            - SC1091
        - id: black
          name: black
          entry: black
          language: system
          files: \.py$

Fixes per code review
  kit/command_install.py
Due: black

Fixes per code review
  docker/Dockerfile.base
  docker/setup_and_run_docker.sh
  recipes/default.toml
Due: shfmt, shellcheck

Fixes per code review
  kit/command_init.py
  tests/config/test.toml
  tests/context.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_main.py
Due: black

Fixing typo
  tests/test_comp_builder.py
Due: black

Update copyright
  kit/hekit.py
Due: black

Update copyright
  recipes/default.toml
Due: none

Update copyright
  recipes/test.toml
Due: none

Refactor Dockerfiles to use new hekit command (#68)
  .clang-format
  .gitignore
  .pre-commit-config.yaml
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/setup_and_run_docker.sh
  kit/command_install.py
  kit/hekit.py
  recipes/default.toml
  recipes/test.toml
Due: shfmt, shellcheck, black

Fixes per code review
  kit/command_init.py
Due: black

More thorough testing (#67)
  kit/command_init.py
  kit/command_list.py
  kit/command_remove.py
  kit/component_builder.py
  kit/config.py
  kit/hekit.py
  kit/spec.py
  tests/config/default.config
  tests/config/test.toml
  tests/context.py
  tests/test_cmd_install.py
  tests/test_cmd_list.py
  tests/test_cmd_remove.py
  tests/test_comp_builder.py
  tests/test_main.py
  tests/test_spec.py
  tests/test_tsort.py
Due: black

new file
  new_file.txt
Due: none

new file 2
  new_file2
Due: none

some edits
  new_file
  new_file2
Due: none

userid setting fix. update to use current ubuntu lts.
  docker/setup_and_run_docker.sh
Due: shfmt, shellcheck

Initial vscode-server for docker
  docker/Dockerfile.toolkit
  docker/Dockerfile.vscode
  docker/IDE-Config/settings.json
  docker/setup_and_run_docker.sh
  docker/vscode.sh
Due: shfmt, shellcheck

redundant text
  docker/welcome_msg.sh
Due: shfmt, shellcheck

LLDB extension for vscode
  docker/Dockerfile.vscode
Due: none

code-server now uses a self-signed cert
  docker/Dockerfile.vscode
Due: none

Enabling Tab completion
  kit/command_list.py
  kit/hekit.py
Due: black

Fixes per code review
  kit/hekit.py
  kit/tab_completion.py
Due: black

minor fixes
  kit/command_init.py
  kit/hekit.py
  tests/test_cmd_install.py
Due: black

resolve path and clearer alias
  kit/command_init.py
  kit/hekit.py
Due: black

changed shebang line
  kit/hekit.py
Due: black

resolve symlink then get root
  kit/hekit.py
Due: black

init command fix (#75)
  kit/command_init.py
  kit/hekit.py
  tests/test_cmd_install.py
Due: black

WIP script rewrite to python
  docker/docker_build.py
Due: black

WIP tidy
  docker/docker_build.py
Due: black

raise tocmake to min of hexl
  he-samples/examples/logistic-regression/CMakeLists.txt
  he-samples/examples/psi/CMakeLists.txt
  he-samples/examples/secure-query/CMakeLists.txt
Due: none

python equiv setup script. obsolete shell scripts deleted.
  docker/Dockerfile.toolkit
  docker/README.md
  docker/basic-docker-test.sh
  docker/env.list
  docker/setup_and_run_docker.sh
  docker/setup_docker.py
  docker/utils/gitops.sh
Due: shfmt, shellcheck, black

passing correct proxies
  docker/docker_build.py
Due: black

check deps python version
  docker/basic-docker-test.sh
  docker/check_dependencies.py
  docker/check_dependencies.sh
  docker/setup_docker.py
  docker/utils/dependency_checks.sh
Due: shfmt, shellcheck, black

WIP removing obsolete parts
  docker/Dockerfile.base
  docker/Dockerfile.toolkit
  docker/runners.sh
  docker/runners/run_lr_example.sh
  docker/runners/run_psi_example.sh
  docker/runners/run_query_example.sh
  docker/runners/run_sample_kernels_palisade.sh
  docker/runners/run_sample_kernels_seal.sh
  docker/runners/run_tests.sh
  docker/setup_docker.py
  docker/welcome_msg.sh
Due: shfmt, shellcheck, black

integrate check deps as command
  kit/command_check_deps.py
  kit/hekit.py
Due: black

file exist error handling
  kit/command_check_deps.py
  kit/hekit.py
Due: black

remove exec
  kit/command_check_deps.py
Due: black

tweak to docker file
  docker/Dockerfile.toolkit
Due: none

WIP refactoring
  docker/runners.sh
  docker/setup_docker.py
  kit/command_docker_build.py
  kit/hekit.py
Due: shfmt, shellcheck, black

block hekit if run as root
  kit/hekit.py
Due: black

Added test for tab completion
  kit/command_remove.py
  kit/tab_completion.py
  tests/context.py
  tests/test_cmd_remove.py
  tests/test_main.py
Due: black

Added new tests for tab completion
  tests/config/test_two_instances.toml
  tests/test_tab_comp.py
Due: black
